@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:100,200,400,500,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  @apply mb-4;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

p {
  line-height: 125%;
  text-align: justify;
}

a {
}

article {

  header {
    @apply sticky overflow-hidden h-screen;

    bottom: 100vh;
  }

  footer {
    @apply sticky top-0 bg-gray-900 text-gray-400 pb-20;

    h1 {
      @apply text-2xl font-hairline;
    }

    h1, h2, h3 {
      @apply text-white;
    }

    p {
      @apply mb-10 leading-relaxed;
    }

    .container {
      @apply mx-auto;
      
      .flex {
        @apply flex-col;

        @screen lg {
          @apply flex-row;
        }
      }
    }

    .opening-hours {
      @apply w-full;

      @screen lg {
        @apply w-1/3;
      }

      &__inner {
        @apply pt-20;

        @screen lg {
          @apply border-gray-700 border-r;
        }
      }
    }

    .imprint {
      @apply w-full mt-8 py-20;

      @screen lg {
        @apply w-2/3 mt-0 pl-20;
      }
    }

  }
}