@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:100,400,500,700|IBM+Plex+Serif:400,500,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'IBM Plex Sans Condensed', serif;
  
  @apply .mb-4;
}

p {
  line-height: 125%;
  text-align: justify;
}

a {
}

article {

  header {
    @apply sticky overflow-hidden h-screen;

    bottom: 100vh;
  }

  footer {
    
    @apply sticky top-0 bg-gray-900 text-white .py-20;

    p {
      @apply mb-10;
    }
  }
}