@import "variables";

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 200%;

  @media (min-width: $breakpoint) {
    font-size: 300%;
  }
}

h2 {}

h3 {
  font-weight: normal;
}

p {
  line-height: 125%;
  text-align: justify;
}

a {
  color: $nls-color-white;
}

article {

  header {
    @apply .sticky .overflow-hidden .h-screen;

    bottom: 100vh;
  }

  footer {
    
    @apply .bg-gray-200 .py-20 .mt-20;

    p {
      @apply .mb-10;
    }
  }
}