@import "variables";

.--large {
  font-size: 150%;
}

.--center {
  text-align: center;
}

.--secondary {
  opacity: 0.6;
}

.--paragraph {
  $this-padding: 20vw;

  @media (min-width: $breakpoint) {
    padding-right: $this-padding  ;
  }

  &.--center {
    @media (min-width: $breakpoint) {
      padding-right: $this-padding * 0.5;
      padding-left: $this-padding * 0.5;
    }
  }
}