.imprint {
  $this-height: 40rem;
  $this-transition: 360ms;

  @apply overflow-hidden;

  max-height: 100%;
  padding-bottom: $this-height;
  transition: all $this-transition;

  &.--collapsed {
    @apply overflow-hidden cursor-pointer;

    max-height: $this-height;
    overflow: hidden;

    &:after {
      @apply opacity-100 bottom-0;
    }
  }

  &.--hover {
    
    &:after {
      content: "Impressum ausklappen";
    }
  }

  &:after {
    @apply absolute opacity-0 w-full flex flex-col justify-end mb-10;

    content: "";
    height: $this-height;
    bottom: 0;
    background: linear-gradient(0deg, #1a202c, rgba(#1a202c, 0));
    transition: all $this-transition;
  }
}