.swiper {

  // @apply .py-10;

  &-container {
    @apply .h-full;
  }

  &-wrapper {

    @apply .w-full .h-full;

    > div {

      @apply .bg-cover .bg-center .bg-no-repeat .hidden .w-full .h-full;
      
      img {
        // @apply .h-full .mx-auto;
        max-height: 100%;
  
        @apply .w-full .h-auto;
      }
  
      &.--active {
        @apply .block;
      }
    }
  }
}