// COLORS
//
// $nls-color-green: #6CBC82;
// $nls-color-blue: #1D73AD;
// $nls-color-violet: #4E59B7;
// $nls-color-purple: #AA66A5;
// $nls-color-pink: #E54975;
$nls-color-green: #79C28D;
$nls-color-blue: #5A99C3;
$nls-color-violet: #7E86CA;
$nls-color-purple: #C18FBD;
$nls-color-pink: #EC7A9A;
$nls-color-white: #fff;
$nls-color-black: #0f0f11;

// 
// RESPONSIVE
//
$breakpoint: 980px;