@tailwind base;
@tailwind components;
@tailwind utilities;

@import "base";

section {
  max-height: 100vh;

  @apply top-0 flex flex-col justify-start py-20;

  &.about {
    @apply sticky top-0 h-screen;

    .container {
      @apply h-full;

      &-column {

        @screen md {
          @apply w-1/2;
        }

        &.links {

          ul {

            @apply flex flex-col justify-around h-full items-start;
            
            li {
              @apply cursor-pointer text-2xl font-hairline border-pink-500 border-b-4;

              &:hover {
                @apply border-transparent opacity-50;
              }
            }
          }
        }
      }
    }
  }
}

.teaser {
  @apply flex h-full;

  .container {
    @apply z-10;
  }
}

.modal {
  display: none;

  &.--active {
    
  }
}


@import "swiper";