@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "base";
@import "helpers";

section {
  @apply .top-0 .sticky .flex .flex-col .justify-start .h-screen .overflow-hidden;
}

article {
  
  &.--clone {
    color: $nls-color-white;
  }
}

section,
article > header,
article > footer {
  z-index: 0;

  &.--black {
    background: $nls-color-black;
    color: $nls-color-white;
  }
  
  &.--green {
    background: $nls-color-green;
  }
    
  &.--blue {
    background: $nls-color-blue;
  }
    
  &.--violet {
    background: $nls-color-violet;
  }
    
  &.--purple {
    background: $nls-color-purple;
  }  

  &.--pink {
    background: $nls-color-pink;
  }

  .teaser {
    @apply .flex .h-full;

    &.--start {
      background-image: url("./../assets/first-impression.jpg");

      @apply .bg-cover;
    }
  }
}

@import "cards";
@import "columns";