@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base';


.teaser {
  @apply flex h-full;

  .container {
    @apply z-10;
  }
}

body {

  &.--no-scroll {
    @apply overflow-hidden;
  }
}

@import 'modal';
@import 'swiper';