@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base';

section {
  min-height: 100vh;

  @apply top-0 flex flex-col justify-start py-20;

  &.about {
    @apply sticky top-0 h-screen;

    .container {
      @apply h-full;

      &-column {

        @screen md {
          @apply w-1/2;
        }

        &.links {

          ul {

            @apply flex flex-col justify-around h-full items-start;
            
            li {
              @apply cursor-pointer text-2xl font-hairline border-red-500 border-b-4;

              &:hover {
                @apply border-transparent opacity-50;
              }
            }
          }
        }
      }
    }
  }
}

.teaser {
  @apply flex h-full;

  .container {
    @apply z-10;
  }
}

[data-modal] {
  @apply fixed inset-0 bg-red-700 text-white overflow-y-auto opacity-75 z-10;

  transform: translate3D(100vw, 0, 0);
  transition: all 460ms ease;
  
  &.--active {
    @apply block opacity-100;

    transform: translate3D(0, 0, 0);
  }

  button {
    @apply absolute top-0 right-0 p-10 outline-none;

    &:hover {
      @apply opacity-50;
    }
  }

  h1 {
    @apply text-2xl font-hairline mt-8;
  }

  h2 {
    @apply text-xl mt-12;
  }

  p {
    @apply leading-relaxed text-red-200;

    @screen lg {
      @apply w-2/3;
    }
  }

  .container {
    @apply pb-32;
  }
}

body {

  &.--no-scroll {
    @apply overflow-hidden;
  }
}

@import 'swiper';