@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base';

.teaser {
  @apply flex h-full;

  .container {
    @apply z-10;
  }

  .logo {
    @apply flex justify-between flex-col h-full py-12;

    &__inner {
      @apply w-32;

      @screen md {
        @apply w-56;
      }

      &__main {
        margin: 0 30%;
      }

      &__sub {
        @apply w-full
      }
    }

  }
}

body {

  &.--no-scroll {
    @apply overflow-hidden;
  }

  &.--loading {
    @apply overflow-hidden h-screen;

    main {
      @apply opacity-0;
    }

    .loading-screen {
      $this-duration: 340ms;
      
      @apply fixed inset-0;

      .container {
        @apply flex h-full items-center justify-center;
      }

      .head {
        @apply px-10 w-full;
        
        transform: scale(5);
        animation: gkAnimation 1200ms cubic-bezier(.86,0,.32,1) forwards;

        @keyframes gkAnimation {
          0% {
            opacity: 0;
            transform: scale(10);
          }

          35% {
            opacity: 0.1;
          }
          
          70% {
            opacity: 0.5;
            transform: scale(0.5);
          }

          80% {
            transform: scale(0.5);
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      .sub {
        opacity: 0;
        animation: subAnimation 240ms ease-out forwards;
        animation-delay: 960ms;

        @keyframes subAnimation {
          0% {
            opacity: 0;
            transform: scale(0.5);
          }
          
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

@import 'about';
@import 'modal';
@import 'swiper';