<section class="about">
  <div class="container flex h-full">
    <div class="container-column pictures">
      <include src="component-parallax.html"></include>
    </div>
    <div class="container-column links">
      <ul>
        <li data-modal-target="awards" data-modal-wrapper=".about">Awards</li>
        <li data-modal-target="about" data-modal-wrapper=".about">About GK</li>
      </ul>
    </div>
  </div>
</section>

<include src="modal-awards.html"></include>

<include src="modal-about.html"></include>