<div class="swiper">
  <div class="swiper__wrapper">
    <div class="swiper__slide --active">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK_DS7@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK_DS7@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK_DS7@1024w.jpg">
        <img src="./src/assets/Fotos_GK_DS7@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK78-79@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK78-79@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK78-79@1024w.jpg">
        <img src="./src/assets/Fotos_GK78-79@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK86-87@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK86-87@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK86-87@1024w.jpg">
        <img src="./src/assets/Fotos_GK86-87@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK_DS3@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK_DS3@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK_DS3@1024w.jpg">
        <img src="./src/assets/Fotos_GK_DS3@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK_DS25@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK_DS25@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK_DS25@1024w.jpg">
        <img src="./src/assets/Fotos_GK_DS25@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK_DS29@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK_DS29@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK_DS29@1024w.jpg">
        <img src="./src/assets/Fotos_GK_DS29@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK39@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK39@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK39@1024w.jpg">
        <img src="./src/assets/Fotos_GK39@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK11@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK11@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK11@1024w.jpg">
        <img src="./src/assets/Fotos_GK11@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK19@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK19@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK19@1024w.jpg">
        <img src="./src/assets/Fotos_GK19@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK24@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK24@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK24@1024w.jpg">
        <img src="./src/assets/Fotos_GK24@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK44@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK44@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK44@1024w.jpg">
        <img src="./src/assets/Fotos_GK44@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK53@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK53@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK53@1024w.jpg">
        <img src="./src/assets/Fotos_GK53@1280w.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/Fotos_GK_DS43@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/Fotos_GK_DS43@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/Fotos_GK_DS43@1024w.jpg">
        <img src="./src/assets/Fotos_GK_DS43@1280w.jpg" data-preload>
      </picture>
    </div>
  </div>
</div>