<div class="swiper">
  <div class="swiper__wrapper">
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/first-impression@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/first-impression@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/first-impression@1024w.jpg">
        <img src="./src/assets/first-impression.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W2379@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W2379@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W2379@1024w.jpg">
        <img src="./src/assets/2A7W2379.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W4350@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W4350@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W4350@1024w.jpg">
        <img src="./src/assets/2A7W4350.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W2325@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W2325@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W2325@1024w.jpg">
        <img src="./src/assets/2A7W2325.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W4067@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W4067@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W4067@1024w.jpg">
        <img src="./src/assets/2A7W4067.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W3156@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W3156@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W3156@1024w.jpg">
        <img src="./src/assets/2A7W3156.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W0656@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W0656@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W0656@1024w.jpg">
        <img src="./src/assets/2A7W0656.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W6657@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W6657@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W6657@1024w.jpg">
        <img src="./src/assets/2A7W6657.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W7166@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W7166@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W7166@1024w.jpg">
        <img src="./src/assets/2A7W7166.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W8163@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W8163@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W8163@1024w.jpg">
        <img src="./src/assets/2A7W8163.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/IMG_3537@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/IMG_3537@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/IMG_3537@1024w.jpg">
        <img src="./src/assets/IMG_3537.jpg" data-preload>
      </picture>
    </div>
    <div class="swiper__slide">
      <picture>
        <source media="(max-width: 640px)" srcset="./src/assets/2A7W8112@640w.jpg">
        <source media="(max-width: 768px)" srcset="./src/assets/2A7W8112@768w.jpg">
        <source media="(max-width: 1024px)" srcset="./src/assets/2A7W8112@1024w.jpg">
        <img src="./src/assets/2A7W8112.jpg" data-preload>
      </picture>
    </div>
  </div>
</div>