      <div class="flex flex-col w-full">
        <p class="text-left z-10">Am Dienstag, den 31. Oktober 2023 ist unser Geschäft geschlossen.</p>
        <img src="./src/assets/uhr.jpg" data-parallax="0.25" class="w-1/5 self-center shadow-md z-0">
        <!--<img src="./src/assets/kreuz.svg" data-parallax="0.40" class="w-1/12 self-center z-10">-->
      </div>

      <div class="flex flex-row md:justify-center z-10" data-parallax="0.40">
        <a data-modal-target="opening" data-modal-wrapper=".opening" class="my-10 md:my-5">Öffnungszeiten</a>
      </div>
    
      <div class="flex flex-col w-full">
        <img src="./src/assets/Herz.svg" data-parallax="0.60" class="w-1/4 self-start z-0">
      </div>
      <div class="flex flex-col w-full">
        <img src="./src/assets/kreuz.svg" data-parallax="0.30" class="w-1/12 self-center z-10">
        <img src="./src/assets/GK-Einladung-23.png" data-parallax="0.35" class="w-3/4 self-center shadow-xl z-10">
      </div>
      

 <!--start 2023-->
<div class="flex flex-col w-full">
  <p class="text-right text-red z-10" data-parallax="0.05">NEW CATALOG 23/24</p>
  <p class="text-left text-gray-600" data-parallax="0.25">
  GK...ES SIND IMMER DIE GESCHICHTEN, DIE IN DEN SCHMUCKSTÜCKEN STECKEN, UND DARAUF WARTEN ERZÄHLT ZU WERDEN.</p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_02.jpg" data-parallax="0.70" class="w-full z-10">
  <div class="flex flex-row md:justify-end z-10" data-parallax="0.40">
    <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="GK ERZÄHLUNGEN">Erzählungen 01-32</a>
  </div>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_03.jpg" data-parallax="0.65" class="w-3/4 self-end shadow-md z-0">
    <p class="text-center z-10" data-parallax="0.45">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="02">02</a>
    </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_04.jpg" data-parallax="0.30" class="w-full shadow-xl z-0">
      <p class="text-left z-10" data-parallax="0.45">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="03">03</a>
      </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_05.jpg" data-parallax="0.20" class="w-4/5 shadow-md z-0">
    <p class="text-right z-10" data-parallax="0.15">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="04">04</a>
    </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_06.jpg" data-parallax="0.50" class="w-full z-10">
  <p class="text-left z-10" data-parallax="0.35">
    <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="05">05</a>
  </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_07.jpg" data-parallax="0.85" class="w-3/4 self-end shadow-md z-0">
    <p class="text-left z-10" data-parallax="0.95">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="06">06 / 07</a>
    </p>
</div>
<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_08.jpg" data-parallax="0.30" class="w-full shadow-md z-0">
      <p class="text-center z-10" data-parallax="0.85">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="08">08 / 09</a>
      </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_09.jpg"data-parallax="0.40" class="w-full shadow-xl z-0">
  <p class="text-right z-10" data-parallax="0.65">
    <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="10">10</a>
  </p>
</div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_010.jpg" data-parallax="0.70" class="w-3/4 z-0">
    <p class="text-left z-10" data-parallax="0.75">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="11">11</a>
    </p>
</div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_011.jpg" data-parallax="0.35" class="w-3/4 self-end shadow-md z-0">
    <p class="text-center z-10" data-parallax="0.65">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="12">12</a>
    </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_012.jpg" data-parallax="0.20" class="w-full shadow-md z-0">
      <p class="text-left z-10" data-parallax="0.25">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="13">13 / 14</a>
      </p>
</div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_013.jpg"data-parallax="0.50" class="w-4/5 shadow-md z-0">
    <p class="text-right z-10" data-parallax="0.65">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="15">15</a>
    </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_014.jpg" data-parallax="0.70" class="w-full z-10">
      <p class="text-left z-10" data-parallax="0.75">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="16">16</a>
      </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_015.jpg" data-parallax="0.95" class="w-2/4 self-end shadow-xl z-0">
      <p class="text-center z-10" data-parallax="0.45">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="17">17</a>
      </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_016.jpg" data-parallax="0.50" class="w-full shadow-md z-0">
      <p class="text-left z-10" data-parallax="0.65">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="18">18</a>
      </p>
  </div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_017.jpg"data-parallax="0.05" class="w-3/5 shadow-md z-0">
    <p class="text-center z-10" data-parallax="0.65">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="19">19+20</a>
    </p>
</div>

<div class="flex flex-col w-full">
     <img src="./src/assets/GK_2023_Seite_018.jpg" data-parallax="0.10" class="w-full z-0">
    <p class="text-left z-10" data-parallax="0.45">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="20">21-24</a>
    </p>
</div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_019.jpg" data-parallax="0.35" class="w-3/4 self-end shadow-md z-0">
    <p class="text-center z-10" data-parallax="0.55">
      <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="25">25</a>
    </p>
</div>

<div class="flex flex-col w-full">
            <img src="./src/assets/GK_2023_Seite_020.jpg" data-parallax="0.20" class="w-full shadow-md z-0">
            <p class="text-left z-10" data-parallax="0.45">
              <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="26">26 / 27</a>
            </p>
</div>

<div class="flex flex-col w-full">
        <img src="./src/assets/GK_2023_Seite_021.jpg"data-parallax="0.10" class="w-4/5 self-center shadow-md z-0">
          <p class="text-right z-10" data-parallax="0.15">
            <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="28">28</a>
          </p>
</div>

<div class="flex flex-col w-full">
          <img src="./src/assets/GK_2023_Seite_022.jpg" data-parallax="0.45" class="w-full shadow-xl z-0">
          <p class="text-left z-10" data-parallax="0.725">
            <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="29">29 / 30</a>
          </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_023.jpg" data-parallax="0.35" class="w-3/4 self-end shadow-md z-0">
      <p class="text-right z-10" data-parallax="0.25">
        <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="31">31</a>
      </p>
</div>

<div class="flex flex-col w-full">
      <img src="./src/assets/GK_2023_Seite_024.jpg" data-parallax="0.50" class="w-full shadow-md z-0">
      <p class="text-center z-10" data-parallax="0.75">
          <a data-modal-target="info" data-modal-wrapper=".info" data-modal-anchor="32">32</a>
        </a>
      </p>
</div>

<div class="flex flex-col w-full">
    <img src="./src/assets/GK_2023_Seite_025.jpg"data-parallax="0.90" class="w-4/5 shadow-md z-0">
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/GK_2023_Seite_026.jpg"data-parallax="0.35" class="w-3/5 shadow-md z-0">
  <p class="text-center text-red z-10" data-parallax="0.75">Günter & Stefan Krauss</p>
</div>

<div class="flex flex-col w-full">
  <p class="text-left text-gray-600 z-10" data-parallax="0.18">IMPRESSUM</p>
  <p class="text-left small text-gray-600 z-10" data-parallax="0.15">SCHMUCKSTÜCKE<br>GÜNTER KRAUSS<br>MIT<br>KÄRSTIN KLING<br>KORD AVERDUNK <br>SARAH HORN<br>JÜRGEN AUGENSTEIN<br><br>FOTO / KATALOGARBEIT<br> AXEL SCHULTZ <br>YORIX GMBH <br><br>ASSISTENZ<br>STEFAN KRAUSS <br><br>DRUCK<br>MÜLLERPRINTS</p>
</div>

       <!--end 2023-->

 <!--start 2022-->
      <div class="flex flex-col w-full">
        <p class="text-right z-10" data-parallax="0.35">Katalog 2022 / 2023</p>
        <img src="./src/assets/CoverGK22.jpg" data-parallax="0.20" class="w-3/5 self-center shadow-md z-0">
        <p class="text-left text-gray-600" data-parallax="0.10">
        GK...SIE GEBEN DER WELT DEN KRISTALL, DER IN DIE TIEFE LEUCHTET.</p>
        <p class="text-right text-red small" data-parallax="0.25">
        GOTTFRIED HONEGGER, MALER, BILDHAUER</p>
      </div> 

    <div class="flex flex-col w-full">
      <img src="./src/assets/GK-Katalogbilder-©yorix-03559.png" data-parallax="0.70" class="w-4/5 z-10">
      <img src="./src/assets/2GK-Katalog-2022.jpg" data-parallax="0.85" class="w-3/4 self-end shadow-md z-0">
        <p class="text-center small z-10" data-parallax="0.95"> RING GOLD / TURMALIN ZWEIFARBIG / SAPHIRE GELB & PINK</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/3GK-Katalog-2022.jpg" data-parallax="0.38" class="w-4/5 shadow-md z-0">
        <p class="text-right small z-10" data-parallax="0.45"> RING GOLD / BERGKRISTALL MIT MILLIONEN JAHRE ALTEM WASSEREINSCHLUSS</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/4GK-Katalog-2022.jpg" data-parallax="0.15" class="w-4/5 self-end shadow-md z-0">
        <p class="text-center small z-10" data-parallax="0.25"> RING PLATIN / TURMALIN / SAPHIRE PINK</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/5GK-Katalog-2022.jpg" data-parallax="0.12" class="w-3/4 shadow-md z-0">
        <p class="text-left small z-10" data-parallax="0.18"> RING BRONZE / MAMMUT / GOLD / BRILLANTEN</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/6GK-Katalog-2022.jpg" data-parallax="0.55" class="w-full self-end shadow-md z-0">
        <p class="text-center small z-10" data-parallax="0.75"> HECHT MAMMUT ELFENBEIN / GOLD</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/7GK-Katalog-2022.jpg" data-parallax="1.00" class="w-3/4 self-center shadow-md z-0">
        <p class="text-right small z-10" data-parallax="1.12"> ARMBAND FEINGOLD / RINGE FEINGOLD</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/8GK-Katalog-2022.jpg" data-parallax="0.85" class="w-3/4 shadow-md z-0">
        <p class="text-left small z-0" data-parallax="0.95">OHRSCHMUCK / PLATIN / BRILLANTEN</p>
        <p class="text-right small z-0" data-parallax="0.75"> RING BESTIARIUM PLATIN / BRILLANTEN</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/9GK-Katalog-2022.jpg" data-parallax="0.1" class="w-4/5 self-end shadow-md z-0">
      <p class="text-right small z-0" data-parallax="0.1"> KREUZ PLATIN / SPINELL / DIAMANT CARRÉ</p>
        <p class="text-left small z-0" data-parallax="0.1"> RING & OHRSCHMUCK PLATIN <br>BRILLANTEN</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/10GK-Katalog-2022.jpg" data-parallax="0.45" class="w-4/5 self-center shadow-md z-0">
        <p class="text-center small z-10" data-parallax="0.50"> KREUZ GOLD / SAPHIRE CABOCHON</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/11GK-Katalog-2022.jpg" data-parallax="0.25" class="w-4/5 shadow-md z-0">
        <p class="text-right small z-10" data-parallax="0.30"> ANHÄNGER GOLD / BRILLANT / GOLDSPIRALE <br>
        MEMOIRE RINGE PLATIN / GOLD / DIAMANT</p>
        <p class="text-left text-red small z-10" data-parallax="0.34"> RINGE GOLD / DIAMANT TROPFEN FANCY</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/12GK-Katalog-2022.jpg" data-parallax="0.15" class="w-full self-end shadow-md z-0">
        <p class="text-right text-gray-600 small z-10" data-parallax="0.20"> KETTE PLATIN /DIAMANTROSE RING & OHRSCHMUCK PLATIN 
      <br>BRILLANTEN HERZ PLATIN / SAPHIRE</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/13GK-Katalog-2022.jpg" data-parallax="0.33" class="w-4/5 self-center shadow-md z-0">
      <p class="text-left small z-10" data-parallax="0.47"> RINGE GOLD / PLATIN / BRILLANTEN</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/11-GK-Katalogbilder-©yorix-04002.png" data-parallax="0.20" class="w-3/4 z-10">
      <p class="text-center small z-10" data-parallax="0.35"> FAMILIE PETZ / SILBER / GOLD</p>
      <img src="./src/assets/14GK-Katalog-2022.jpg" data-parallax="0.48" class="w-3/4 self-end shadow-md z-0"> 
    </div>

    <div class="flex flex-col w-full">    
      <img src="./src/assets/15GK-Katalog-2022.jpg" data-parallax="0.12" class="w-full self-end shadow-md z-0">
        <p class="text-left text-red z-10" data-parallax="0.18">MEIN STOLZ OBJEKT NUMMER EINS</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/16GK-Katalog-2022.jpg" data-parallax="0.25" class="w-4/5 self-center shadow-md z-0">
        <p class="text-right text-gray-600 small z-10" data-parallax="0.15"> OBJEKTE HOLZ / GOLD / BRILLANTEN / BRONZE</p>
    </div>

    <div class="flex flex-col w-full"> 
      <img src="./src/assets/15-GK-Katalogbilder-©yorix-03762.png" data-parallax="0.08" class="w-4/5 z-10">
        <p class="text-right small z-10" data-parallax="0.05"> RING GOLD / RUBELLIT / BRILLANTEN</p>
      <img src="./src/assets/17GK-Katalog-2022.jpg" data-parallax="0.15" class="w-4/5 self-end shadow-md z-0">  
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/18GK-Katalog-2022.jpg" data-parallax="0.55" class="w-3/4 shadow-md z-0">
      <p class="text-center small z-10" data-parallax="0.45"> HERZRINGE GOLD</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/19GK-Katalog-2022.jpg" data-parallax="0.70" class="w-4/5 self-end shadow-md z-0">
        <p class="text-right small z-10" data-parallax="0.74"> RINGE PLATIN / SAPHIRE BUNT</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/20GK-Katalog-2022.jpg" data-parallax="0.15" class="w-3/4 shadow-md z-0">
        <p class="text-left small z-10" data-parallax="0.20"> ARMBAND GOLD / GROSSULARE</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/21GK-Katalog-2022.jpg" data-parallax="0.25" class="w-1/2 self-end shadow-md z-0">
        <p class="text-right small z-10" data-parallax="0.30"> ARMBAND WEISSGOLD / STERNSAPHIRE</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/22GK-Katalog-2022.jpg" data-parallax="0.05" class="w-4/5 self-center shadow-md z-0">
        <p class="text-center small z-10" data-parallax="0.10"> GOLD / LAPIS / KORALLE / BERYLL</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/23GK-Katalog-2022.jpg" data-parallax="0.56" class="w-full shadow-md z-0">
        <p class="text-right text-red z-10" data-parallax="0.50"> DAS MEER SCHREIT UM HILFE</p>   
        <p class="text-left small z-10" data-parallax="0.68"> MAMMUT ELFENBEIN / KORALLE / MUSCHEL / FUNDSTÜCKE</p> 
        <p class="text-left small text-gray-500 z-0" data-parallax="0.25">
        SCHMUCK ERZEUGT NEID. SCHMUCK IST UNBEDEUTEND. SCHMUCK IST TANDERADEI. SCHMUCK IST HOKUSPOKUS. SCHMUCK IST MATERIAL. SCHMUCK IST ZWIESPALT. SCHMUCK IST ZERBRECHLICH. SCHMUCK IST GLEICHGÜLTIGKEIT. SCHMUCK IST DORNRÖSCHEN. SCHMUCK IST BLING-BLING. SCHMUCK IST OBERFLÄCHE. SCHMUCK IST BILLIGE KOPIE. SCHMUCK IST FÜR ETABLIERTE. SCHMUCK IST FASSADE. SCHMUCK IST FÜR ALLE.
        </p>
    </div>


  <!--end 2022-->

  <div class="flex flex-row w-full">
      <img src="./src/assets/2021.svg" data-parallax="1.10" class="w-1/6 z-0">
      <img src="./src/assets/GK.svg" data-parallax="0.95" class="w-4/5 self-end z-0">
  </div>

  <div class="flex flex-col w-full">
      <img src="./src/assets/3GK2021@768w.jpg" data-parallax="0.25" class="w-2/5 shadow-md z-0">
      <img src="./src/assets/5GK2021@768w.jpg" data-parallax="0.40" class="w-2/5 self-end shadow-xl z-0">

        <p class="text-left text-red small self-end z-10" data-parallax="1.25">
        „SCHMUCKSTÜCKE ERFINDEN IST MEIN LEBEN“……….
        <br><br><br>ABER VIEL IST VERLOREN GEGANGEN
        <br>VON DEN WUNDERBAREN TECHNIKEN
        <br>DER HANDWERKSKUNST.
        <br>DAS WISSEN ÜBER MILLIONEN JAHRE ALTE
        <br>NATURMATERIALIEN.
        <br>DARUM KÜMMERN SICH NUR WENIGE.
        <br>DER RESPEKT DAVOR SCHEINT VERSCHWUNDEN
        <br>ZU SEIN.
        <br><br>NATÜRLICH IST DAS BEARBEITEN ZUM BEISPIEL
        <br> VON MAMMUTELFENBEIN, ALTEN KORALLEN
        <br>ODER ROH GEFUNDENEN AQUAMARINEN FÜR
        <br>VIELE EINE HERAUSFORDERUNG.
        <br>FÜR MICH IST ES EINE FREUDE .
        <br><br>MIT MEINEN SCHMUCKSTÜCKEN
        <br>MÖCHTE ICH ERHALTEN WAS DIE NATUR UNS SCHENKT,
        <br>ZEIGEN WIE MIT DEN DINGEN UMGEGANGEN WIRD UND
        <br>WIE SCHWIERIG UND WICHTIG DAS IST
        <br><br>NIE WERDE ICH AUFGEBEN DIESE MATERIALIEN DURCH
        <br>MEINE ENTWÜRFE SPRECHEN ZU LASSEN
        <br><br><br>GÜNTER KRAUSS
        </p>
  </div>


    <div class="flex flex-col w-full">
      <img src="./src/assets/6GK2021@768w.jpg" data-parallax="-0.15" class="w-4/5 self-end shadow-md z-0">
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/7GK2021@768w.jpg" data-parallax="0.1" class="w-3/5 shadow-md z-0">
      <p class="text-left small z-10">GROßE BERNSTEINKETTE MIT MORGANIT TEILEN</p>
      <img src="./src/assets/8GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 self-end shadow-md z-0">
   </div>

    <div class="flex flex-col w-full">
        <p class="text-right small z-20">HALSSCHMUCK FEINGOLD NIETEN MAMMUTZAHN-AUSSENHAUT SELTEN IN BLAU</p>
        <img src="./src/assets/9GK2021@768w.jpg" data-parallax="-0.05" class="w-3/4 shadow-md z-0">
        <img src="./src/assets/10GK2021@768w.jpg" data-parallax="0.4" class="w-3/5 self-end shadow-md z-10">
        <p class="text-left small self-end z-20" data-parallax="0.4">ANHÄNGER TEIL EINES MAMMUT ZAHNS BERYLL 151CT <br>SCHLIFF
          BERND MUNSTEINER FASSUNG 750 GOLD</p>
    </div>

    <div class="flex flex-col w-full">
          <img src="./src/assets/1GK2021@768w.jpg" data-parallax="-0.1" class="w-full shadow-md z-0">
    </div>

    <div class="flex flex-col w-full">
          <img src="./src/assets/11GK2021@768w.jpg" data-parallax="0.05" class="w-2/4 self-end shadow-md z-0">
          <img src="./src/assets/12GK2021@768w.jpg" data-parallax="0.4" class="w-3/5 self-center shadow-md z-10">
          <p class="text-left small z-10" data-parallax="0.4">RINGE ROSA BRAUNE KORALLE AUS DEM MITTELMEER MIT KLEINEN FARBIGEN
            BRILLANTEN IN GOLD GEFASST ARMREIF GOLD 2 BRILLANTEN</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/13GK2021@768w.jpg" data-parallax="-0.2" class="w-1/4 self-center shadow-md z-10">
      <p class="text-right text-red small z-10" data-parallax="-0.2">GROßE ANHÄNGER ROSA BRAUNE KORALLÄSTE AQUAMARIN ROHKRISTALLE</p>
      <img src="./src/assets/14GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-0">
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/15GK2021@768w.jpg" data-parallax="0.05" class="w-2/4 shadow-md z-0">
      <p class="text-left small" data-parallax="0.05">KETTE AUS PLATIN 3 TAHITIPERLEN <br>2 KUGELN AUS DER EDELSTEN
        KORALLE <br>IN DUNKELSTEM ROT AUS JAPAN</p>
      <img src="./src/assets/16GK2021@768w.jpg" data-parallax="0.4" class="w-2/4 self-end shadow-md z-0">
      <p class="text-right small z-20" data-parallax="0.4">LUSTIGE ANHÄNGER KIESELSTEINE KORALLÄSTE FEIN GOLD LEDERBÄNDER
      </p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/17GK2021@768w.jpg" data-parallax="0.05" class="w-2/4 self-end shadow-md z-0">
      <img src="./src/assets/18GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-0">
      <p class="text-left small z-20" data-parallax="0.4">ZWEI RINGE AUS MAMMUTZAHNSTÜCKEN GOLD UND PLATIN CITRIN UND
        BERGKRISTALL MIT EINER TURMALINNADEL</p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/19GK2021@768w.jpg" data-parallax="0.05" class="w-3/4 self-end shadow-md z-0">
      <img src="./src/assets/20GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-0">
      <p class="text-left small z-20" data-parallax="0.4">KETTE KORALLSCHEIBEN AUS UNSEREM LETZTEN JAHRELANG GEHÜTETEN AST
      </p>
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/21GK2021@768w.jpg" data-parallax="-0.25" class="w-2/5 self-center shadow-md z-0">
      <p class="text-left small z-20" data-parallax="0.4">ARMBAND IN GOLD GEFASSTE KORALLEN <br>ARMBAND VIELE VERSCHIEDENE
        EDELSTEINE IN GOLD <br>ZWEI EDELHOLZ ARMREIFEN</p>
      <img src="./src/assets/22GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 shadow-md z-0">
    </div>

    <div class="flex flex-col w-full">
      <img src="./src/assets/23GK2021@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-md z-0">
      <img src="./src/assets/24GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 shadow-md z-0">
    </div>

    <div class="flex flex-col w-full">
      <p class="text-left small text-gray-400 z-0" data-parallax="-0.2">
        IMPRESSUM:<br>
        KATALOG2021

        GÜNTER KRAUSS.SCHMUCK.
        KRONPRINZSTRASSE21
        70173STUTTGART
        T0711/297395
        INFO@SCHMUCKKRAUSS.DE
        WWW.GUENTERKRAUSS.DE

        SCHMUCKSTÜCKE: GÜNTER KRAUSS
        MIT: KÄRSTIN KLING
        KORD AVERDUNK
        SARAH HORN
        LAURA STRÖMFELD

        MODELL HYO-JUNG KANG SOLISTIN
        STUTTGARTER BALLETT
        MASKE DANA KUTSCHE
        STAATSTHEATER STUTTGART

        DRUCK MÜLLER PRINTS

        KATALOGARBEIT
        HELLA KRAUSS

        ASSISTENZ DAGMAR SUCROW
        THERESIA KOLB

        MODE ISSEY MIYAKE
        VON HORST WANSCHURA
        </p>
    </div>


  <!--end 2021-->

    <div class="flex flex-col w-full">
      <p class="text-right" data-parallax="0.28">
        “DIE NATUR VERWÖHNT MICH MIT VIELFÄLTIGSTEN
        MATERIALIEN... SO FANTASIEVOLL UND JEDES MAL
        WIEDER NEU. AUGENBLICKE FÜR HERRLICHE IDEEN
        IN MEINEM KOPF, DAS IST EIN WUNDERBARER ZUSTAND!”
      </p>
    </div>

      <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full">
        <img src="./src/assets/Fotos_GK60@768w.jpg" data-parallax="0.3" class="w-4/5 md:w-2/5 shadow-md z-10">
        <a data-modal-target="about" data-modal-wrapper=".about" class="my-10 md:my-5">About GK</a>
      </div>

      <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full">
        <img src="./src/assets/Fotos_GK49@768w.jpg" data-parallax="0.5" class="w-3/5 shadow-md z-10">
        <a data-modal-target="awards" data-modal-wrapper=".about" class="my-10 md:my-5">Awards</a>
      </div>
    

    <div class="flex flex-col w-full">
      <p class="text-center text-red z-10" data-parallax="0.25">
        ...PICKED OUT POLAS
      </p>
      <img src="./src/assets/Fotos_GK50@768w.jpg" data-parallax="0.1" class="w-1/3 self-end shadow-md z-0">
      <img src="./src/assets/Fotos_GK51@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">
      <img src="./src/assets/Fotos_GK52@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
      <img src="./src/assets/Fotos_GK55@768w.jpg" data-parallax="-0.02" class="w-2/5 self-center shadow-xl z-0">
      <img src="./src/assets/Fotos_GK59@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md z-0 self-end">
      <img src="./src/assets/Fotos_GK68@768w.jpg" data-parallax="0.05" class="w-3/5 self-center shadow-xl z-0">
      <img src="./src/assets/Fotos_GK69@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
      <img src="./src/assets/Fotos_GK67@768w.jpg" data-parallax="0.1" class="w-2/5 self-center shadow-xl z-0">
      <img src="./src/assets/Fotos_GK107@768w.jpg" data-parallax="0.14" class="w-1/5 shadow-md z-0">
      <img src="./src/assets/Fotos_GK26@768w.jpg" data-parallax="0.20" class="w-3/5 shadow-xl z-0 self-end">

      <div class="flex flex-col-reverse md:flex-row justify-between self-center" data-parallax="0.156">
        <a href="mailto:info@schmuckkrauss.de" class="my-10 md:my-5">info@schmuckkrauss.de</a>
      </div>
    </div>
