<!-- <div class="flex flex-col w-full" data-parallax="-0.15" style="bottom: 0"> -->
<div class="flex flex-col w-full">
    <p class="text-right" data-parallax="0.6">
      BRAND NEW
    </p> 
     
    <img src="./src/assets/Fotos_GK88@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
    
    <img src="./src/assets/Fotos_GK89@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0"> 
  
    <p class="text-left" data-parallax="0.6">
      2019/20
    </p>
    
  </div> 
   
  <div class="flex flex-col w-full">
    <p class="text-left" data-parallax="0.6">
      „MANCHMAL HABE ICH
      ANGST VOR DEM
      GEFÜHL DES GELINGENS,
      DENN DIE GEWISSHEIT
      DES GELINGENS IST OFT 
      DAS ENDE DES ZWEIFELNS!“
    </p>
  
    <img src="./src/assets/Fotos_GK90@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
    
    <img src="./src/assets/Fotos_GK91@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK92@768w.jpg" data-parallax="0.1" class="w-3/5 shadow-md z-0">

  </div>


  <p class="text-center small" data-parallax="0.06">
    SMARAGDTROPFEN 9,20CT AN HANDGEARBEITETER KETTE
  </p>


  <div class="flex flex-col w-full">
    <p class="text-right" data-parallax="0.6">
      :)
    </p>
    <img src="./src/assets/Fotos_GK93@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0"> 

   <div data-parallax="0.4" class="w-2/3 ">
    <img src="./src/assets/Fotos_GK94@768w.jpg" class="w-full shadow-md z-0">

    <p class="text-center small w-full">
      AQUAMARIN MIT ROHKRISTALLFLÄCHE 653CT PLATIN
     </p>
   </div>
    
    <img src="./src/assets/Fotos_GK95@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0"> 

    <div data-parallax="0.1" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK96@768w.jpg" class="w-full shadow-md z-0">
  
      <p class="text-center small w-full">
        RING TEUFELCHEN KORALLE GOLD
       </p>
     </div>
    
    <img src="./src/assets/Fotos_GK97@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0"> 

    <div data-parallax="0.1" class="w-1/3 self-end">
      <img src="./src/assets/Fotos_GK98@768w.jpg" class="w-full shadow-md z-0">
  
      <!-- <p class="text-center small w-full">
        BERGKRISTALLRING PLATIN MIT VERSTECKTEN BRILLANTEN
       </p> -->
     </div>
    
    <img src="./src/assets/Fotos_GK99@768w.jpg" data-parallax="-0.02" class="w-2/5 self-center shadow-xl z-0"> 

    <div data-parallax="0.2" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK100@768w.jpg" class="w-full shadow-md z-0">
  
      <p class="text-center small w-full">
        LANGE TAHITIPERLKETTE MIT KORALLEN UND PLATIN
       </p>
    
      </div>
    
    <img src="./src/assets/Fotos_GK101@768w.jpg" data-parallax="0.05" class="w-3/5 self-center shadow-xl z-0"> 

    <div data-parallax="0.1" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK102@768w.jpg" class="w-full shadow-md z-0">
  
      <p class="text-center small w-full">
        AMETHYSTRING IN PLATIN GEFASST RING GOLDBERYLL UND TURMALIN
       </p>
    
      </div>

      <img src="./src/assets/Fotos_GK103@768w.jpg" data-parallax="0.15" class="w-2/5 shadow-md z-0 self-end">


      <div data-parallax="-0.03" class="w-2/5">
        <img src="./src/assets/Fotos_GK104@768w.jpg" class="w-full shadow-md">
    
        <p class="text-center small w-full">
          ACHAT SCHRIFT IN GOLD<br>
          (nach Jonathan Meese)
         </p>
      
        </div>

        <div class="flex flex-col-reverse md:flex-row md:justify-end" data-parallax="0.26">
          <a data-modal-target="opening" data-modal-wrapper=".opening" class="my-10 md:my-5">Öffnungszeiten</a>
        </div>

     <div data-parallax="0.22" class="w-3/4 ">
      <img src="./src/assets/Fotos_GK105@768w.jpg" class="w-full shadow-md z-0">
  
      <p class="text-center small w-full">
        TAHITIPERLEN IN PLATINKETTE
       </p>
    
      </div>
    
    <img src="./src/assets/Fotos_GK108@768w.jpg" data-parallax="0.18" class="w-1/5 self-end shadow-xl z-0"> 
    
  </div>
   
  <div class="flex flex-col w-full" data-parallax="0.08">

    <p>CHOICE OF VARIOUS JEWELLERY</p>
    
    <img src="./src/assets/Fotos_GK1@768w.jpg" data-parallax="0.14" class="w-2/5 self-end shadow-xl z-0">
  
    <img src="./src/assets/Fotos_GK4@768w.jpg" data-parallax="0.2" class="w-4/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK5@768w.jpg" data-parallax="-0.05"class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK6@768w.jpg" data-parallax="0.1" class="w-2/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK7@768w.jpg" data-parallax="0.1"class="w-1/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK14@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md self-end z-10">

    <img src="./src/assets/Fotos_GK15@768w.jpg" data-parallax="0.12"class="w-4/5 shadow-md self-center z-10">

    <img src="./src/assets/Fotos_GK17@768w.jpg" data-parallax="0.25" class="w-1/4 shadow-md z-10">

    <img src="./src/assets/Fotos_GK18@768w.jpg" data-parallax="0.15"class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK20@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md z-10">

    <img src="./src/assets/Fotos_GK61@768w.jpg" data-parallax="-0.5"class="w-3/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK23@768w.jpg" data-parallax="0.20" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK28@768w.jpg" data-parallax="0.38" class="w-3/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK29@768w.jpg" data-parallax="0.35"class="w-3/5 shadow-md z-0 self-center">

    <img src="./src/assets/Fotos_GK31@768w.jpg" data-parallax="0.14" class="w-2/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK10@768w.jpg" data-parallax="0.12" class="w-2/3 shadow-md z-0">

    <p class="w-full text-center" data-parallax="0.28">
      #FF
    </p>

    <img src="./src/assets/Fotos_GK39@768w.jpg" data-parallax="0.48" class="w-4/5 shadow-md z-0">
 
    <img src="./src/assets/Fotos_GK40@768w.jpg" data-parallax="0.0"class="w-3/5 self-center shadow-md z-0">
   
    <img src="./src/assets/Fotos_GK41@768w.jpg" data-parallax="0.3" class="w-3/5 shadow-md z-0">

    <img src="./src/assets/Fotos_GK64@768w.jpg" data-parallax="-0.10"class="w-3/4 self-end shadow-xl z-0">

    <p class="w-full text-center" data-parallax="0.36">
      #WHITE SPACE IN BETWEEN
      </p>

    <img src="./src/assets/Fotos_GK65@768w.jpg" data-parallax="0.12"class="w-3/5 self-end shadow-xl z-0">

    <img src="./src/assets/Fotos_GK56@768w.jpg" data-parallax="0.38" class="w-3/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK63@768w.jpg" data-parallax="-0.05"class="w-2/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK44@768w.jpg" data-parallax="0.18" class="w-3/5 self-center shadow-md z-10">

    <img src="./src/assets/Fotos_GK66@768w.jpg" data-parallax="-0.05"class="w-3/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK70@768w.jpg" data-parallax="0.13" class="w-3/5 self-center shadow-md self-end">

    <img src="./src/assets/Fotos_GK76@768w.jpg" data-parallax="0.12" class="w-4/5 shadow-md self-end">
  
    <img src="./src/assets/Fotos_GK82@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0 self-end">

  </div>
  
  <div class="flex flex-col w-full" data-parallax="0.15">
    <p class="text-red">
      ...MORE STUFF 
    </p>
    
    <img src="./src/assets/Fotos_GK42@768w.jpg" data-parallax="0.1" class="w-3/5 self-end shadow-md z-0">
    <img src="./src/assets/Fotos_GK75@768w.jpg" data-parallax="0.3" class="w-2/3 self-center shadow-md z-10">
    <img src="./src/assets/Fotos_GK73@768w.jpg" data-parallax="0.1" class="w-2/5 shadow-md z-10 self-end">
    <img src="./src/assets/Fotos_GK72@768w.jpg" data-parallax="0.2" class="w-2/5 shadow-md z-10">
    <img src="./src/assets/Fotos_GK43@768w.jpg" data-parallax="0.3" class="w-1/3 shadow-md z-0 self-end">
    
  </div>
  
  <div class="flex flex-col w-full" data-parallax="0.17">
    
      <p class="text-right" data-parallax="0.1">
          “DIE NATUR VERWÖHNT MICH MIT VIELFÄLTIGSTEN
          MATERIALIEN... SO FANTASIEVOLL UND JEDES MAL 
          WIEDER NEU. AUGENBLICKE FÜR HERRLICHE IDEEN 
          IN MEINEM KOPF, DAS IST EIN WUNDERBARER ZUSTAND!”
          </p>

    <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full">
      
      <img src="./src/assets/Fotos_GK60@768w.jpg" data-parallax="0.3" class="w-4/5 md:w-2/5 shadow-md z-10">

      <a data-modal-target="about" data-modal-wrapper=".about" class="my-10 md:my-5">About GK</a>
    </div>
  
  </div>
  
  
  <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full" data-parallax="0.165">
    <a data-modal-target="awards" data-modal-wrapper=".about" class="my-10 md:my-5">Awards</a>
  </div>
  
  <div class="flex flex-col w-full" data-parallax="0.16">
  
    <img src="./src/assets/Fotos_GK49@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0"> 

    <p class="text-left text-red z-10" data-parallax="0.1">
      ...PICKED OUT
      </p>
  
    <img src="./src/assets/Fotos_GK50@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">

    <p class="text-center text-red z-10" data-parallax="0.1">
      POLAS 
    </p>
    
    <img src="./src/assets/Fotos_GK51@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0"> 
  
    <img src="./src/assets/Fotos_GK52@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
    
    <img src="./src/assets/Fotos_GK55@768w.jpg" data-parallax="-0.02" class="w-2/5 self-center shadow-xl z-0"> 
  
    <img src="./src/assets/Fotos_GK59@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md z-0 self-end">
    
    <img src="./src/assets/Fotos_GK68@768w.jpg" data-parallax="0.05" class="w-3/5 self-center shadow-xl z-0"> 
  
    <img src="./src/assets/Fotos_GK69@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">
    
    <img src="./src/assets/Fotos_GK67@768w.jpg" data-parallax="0.1" class="w-2/5 self-center shadow-xl z-0"> 

    <img src="./src/assets/Fotos_GK107@768w.jpg" data-parallax="0.14" class="w-1/5 shadow-md z-10"> 

    <img src="./src/assets/Fotos_GK26@768w.jpg" data-parallax="0.20" class="w-3/5 shadow-xl z-0 self-end">

      <div class="flex flex-col-reverse md:flex-row justify-between self-center" data-parallax="0.156">
        <a href="mailto:info@schmuckkrauss.de" class="my-10 md:my-5">info@schmuckkrauss.de</a>
      </div>
  </div>

<!-- </div> -->