<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="" style="background-image: url('./src/assets/first-impression.jpg')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W2379.jpg')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W4350.jpg')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W2325.jpg')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W4067.jpg')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W3156.JPG')"></div>
    <div class="" style="background-image: url('./src/assets/2A7W0656.jpg')"></div>
  </div>
</div>