<div class="flex flex-col w-full" data-parallax="0">
 
  <img src="./src/assets/HellaAdvent2021VS@1024w.jpg" data-parallax="0" class="w-full shadow-md z-10">

  <p class="text-left m-8 text-red z-10" data-parallax="1.0">
    MANCHMAL GELINGEN DINGE.
    <br>EINFACH UND GANZ LEICHT.
    <br>DAS IST WUNDERBAR!
    <br>BEI UNS GIBT ES DESHALB SO, SO SCHÖNE SACHEN…….
    <br>BALD IST ZEIT ÜBER WEIHNACHTEN
    <br>NACHZUDENKEN. DAS MACHT SPASS.
  </p>

  <img src="./src/assets/uhr.jpg" data-parallax="0.6" class="w-2/5 self-center z-0">

  <img src="./src/assets/kreuz.svg" data-parallax="0.8" class="w-1/12 self-center z-10">

  <p class="text-center small" data-parallax="0.8">
    <br>ANDERE ÖFFUNGSZEITEN!
    <br>
    <br>MONTAG GESCHLOSSEN
    <br>DIENSTAG - FREITAG 11 bis 18 Uhr
    <br>SAMSTAG 11 - 16 UHR
  </p>


  <p class="flex flex-col-reverse md:flex-row justify-between self-center" data-parallax="0.5">
    <a href="mailto:info@schmuckkrauss.de" class="my-10 md:my-5">info@schmuckkrauss.de</a>
  </p>
  <p class="text-center z-10" data-parallax="0.5">
    0711 - 297395
  </p>

  <div class="flex flex-col w-full z-10">
    <p class="text-left text-red" data-parallax="-0.3">
      Wir freuen uns!!!
    </p>
    <p class="text-left small" data-parallax="-0.3">
      GÜNTER UND HELLA KRAUSS :)
    </p>
    <img src="./src/assets/Herz.svg" data-parallax="-0.2" class="w-1/6 self-end z-10">
  </div>

  <div class="flex flex-col w-full" data-parallax="0">
    <img src="./src/assets/Anzeige GK_Seite_1@768w.png" data-parallax="-0.3" class="w-4/5 self-end shadow-md z-0">
  </div>
</div>

<!--start 2021-->

<div class="flex flex-row w-full" data-parallax="-0.2">
  <p class="text-left text-red" data-parallax="0.4">
    NEW
  </p>
  <img src="./src/assets/2021.svg" data-parallax="-0.1" class="w-1/6 z-10">
  <img src="./src/assets/GK.svg" data-parallax="-0.05" class="w-4/5 self-end z-10">
</div>

<div class="flex flex-col w-full" data-parallax="-0.2">
  <img src="./src/assets/3GK2021@768w.jpg" data-parallax="0.3" class="w-2/5 shadow-md z-0">
  <img src="./src/assets/5GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 self-end shadow-xl z-0">
</div>

<div class="flex flex-col w-full z-10">
  <p class="text-left small self-end z-10" data-parallax="1.0">
    „SCHMUCKSTÜCKE ERFINDEN IST MEIN LEBEN“……….
    <br><br><br>ABER VIEL IST VERLOREN GEGANGEN
    <br>VON DEN WUNDERBAREN TECHNIKEN
    <br>DER HANDWERKSKUNST.
    <br>DAS WISSEN ÜBER MILLIONEN JAHRE ALTE
    <br>NATURMATERIALIEN.
    <br>DARUM KÜMMERN SICH NUR WENIGE.
    <br>DER RESPEKT DAVOR SCHEINT VERSCHWUNDEN
    <br>ZU SEIN.
    <br><br>NATÜRLICH IST DAS BEARBEITEN ZUM BEISPIEL
    <br> VON MAMMUTELFENBEIN, ALTEN KORALLEN
    <br>ODER ROH GEFUNDENEN AQUAMARINEN FÜR
    <br>VIELE EINE HERAUSFORDERUNG.
    <br>FÜR MICH IST ES EINE FREUDE .
    <br><br>MIT MEINEN SCHMUCKSTÜCKEN
    <br>MÖCHTE ICH ERHALTEN WAS DIE NATUR UNS SCHENKT,
    <br>ZEIGEN WIE MIT DEN DINGEN UMGEGANGEN WIRD UND
    <br>WIE SCHWIERIG UND WICHTIG DAS IST
    <br><br>NIE WERDE ICH AUFGEBEN DIESE MATERIALIEN DURCH
    <br>MEINE ENTWÜRFE SPRECHEN ZU LASSEN
    <br><br><br>GÜNTER KRAUSS
  </p>
</div>


<div data-parallax="0" class="w-3/5">
  <img src="./src/assets/6GK2021@768w.jpg" class="w-full self-end shadow-md z-0">
  <p class="text-center small"> COLLIER PLATIN 950 BERYLL 395 CT UKRAINE MIT ROHKRISTALLFLÄCHE ALTES AFRIKANISCHES EISEN
  </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/7GK2021@768w.jpg" data-parallax="0.1" class="w-3/5 shadow-md z-0">
  <p class="text-left small z-10">GROßE BERNSTEINKETTE MIT MORGANIT TEILEN</p>
  <img src="./src/assets/8GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 self-end shadow-md z-0">
</div>

<div class="flex flex-col w-full">
  <p class="text-right small z-20">HALSSCHMUCK FEINGOLD NIETEN MAMMUTZAHN-AUSSENHAUT SELTEN IN BLAU</p>
  <img src="./src/assets/9GK2021@768w.jpg" data-parallax="-0.05" class="w-3/4 shadow-md z-0">
  <img src="./src/assets/10GK2021@768w.jpg" data-parallax="0.4" class="w-3/5 self-end shadow-md z-10">
  <p class="text-left small self-end z-20" data-parallax="0.4">ANHÄNGER TEIL EINES MAMMUT ZAHNS BERYLL 151CT <br>SCHLIFF
    BERND MUNSTEINER FASSUNG 750 GOLD</p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/1GK2021@768w.jpg" data-parallax="-0.1" class="w-full shadow-md z-0">
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/11GK2021@768w.jpg" data-parallax="0" class="w-2/4 self-end shadow-md z-0">
  <img src="./src/assets/12GK2021@768w.jpg" data-parallax="0.4" class="w-3/5 self-center shadow-md z-10">
  <p class="text-left small z-20" data-parallax="0.4">RINGE ROSA BRAUNE KORALLE AUS DEM MITTELMEER MIT KLEINEN FARBIGEN
    BRILLANTEN IN GOLD GEFAßT ARMREIF GOLD 2 BRILLANTEN</p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/13GK2021@768w.jpg" data-parallax="-0.2" class="w-1/4 self-center shadow-md z-10">
  <p class="text-right small z-20" data-parallax="-0.2">GROßE ANHÄNGER ROSA BRAUNE KORALLÄSTE AQUAMARIN ROHKRISTALLE</p>
  <img src="./src/assets/14GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-10">
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/15GK2021@768w.jpg" data-parallax="0" class="w-2/4 shadow-md z-0">
  <p class="text-left small z-20" data-parallax="0">KETTE AUS PLATIN 3 TAHITIPERLEN <br>2 KUGELN AUS DER EDELSTEN
    KORALLE <br>IN DUNKELSTEM ROT AUS JAPAN</p>
  <img src="./src/assets/16GK2021@768w.jpg" data-parallax="0.4" class="w-2/4 self-end shadow-md z-10">
  <p class="text-right small z-20" data-parallax="0.4">LUSTIGE ANHÄNGER KIESELSTEINE KORALLÄSTE FEIN GOLD LEDERBÄNDER
  </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/17GK2021@768w.jpg" data-parallax="0" class="w-2/4 self-end shadow-md z-0">
  <img src="./src/assets/18GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-10">
  <p class="text-left small z-20" data-parallax="0.4">ZWEI RINGE AUS MAMMUTZAHNSTÜCKEN GOLD UND PLATIN CITRIN UND
    BERGKRISTALL MIT EINER TURMALINNADEL</p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/19GK2021@768w.jpg" data-parallax="0" class="w-3/4 self-end shadow-md z-0">
  <img src="./src/assets/20GK2021@768w.jpg" data-parallax="0.4" class="w-3/4 shadow-md z-10">
  <p class="text-left small z-20" data-parallax="0.4">KETTE KORALLSCHEIBEN AUS UNSEREM LETZTEN JAHRELANG GEHÜTETEN AST
  </p>
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/21GK2021@768w.jpg" data-parallax="-0.6" class="w-2/5 self-center shadow-md z-0">
  <p class="text-left small z-20" data-parallax="0.4">ARMBAND IN GOLD GEFASSTE KORALLEN <br>ARMBAND VIELE VERSCHIEDENE
    EDELSTEINE IN GOLD <br>ZWEI EDELHOLZ ARMREIFEN</p>
  <img src="./src/assets/22GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 shadow-md z-10">
</div>

<div class="flex flex-col w-full">
  <img src="./src/assets/23GK2021@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-md z-0">
  <img src="./src/assets/24GK2021@768w.jpg" data-parallax="0.4" class="w-2/5 shadow-md z-10">
</div>

<div class="flex flex-col w-full">
  <p class="text-left small text-gray-400 z-0" data-parallax="-0.2">
    IMPRESSUM:<br>
    KATALOG2021

    GÜNTER KRAUSS.SCHMUCK.
    KRONPRINZSTRASSE21
    70173STUTTGART
    T0711/297395
    INFO@SCHMUCKKRAUSS.DE
    WWW.GUENTERKRAUSS.DE


    SCHMUCKSTÜCKE: GÜNTER KRAUSS
    MIT: KÄRSTIN KLING
    KORD AVERDUNK
    SARAH HORN
    LAURA STRÖMFELD

    MODELL HYO-JUNG KANG SOLISTIN
    STUTTGARTER BALLETT
    MASKE DANA KUTSCHE
    STAATSTHEATER STUTTGART

    DRUCK MÜLLER PRINTS

    KATALOGARBEIT
    HELLA KRAUSS

    ASSISTENZ DAGMAR SUCROW
    THERESIA KOLB

    MODE ISSEY MIYAKE
    VON HORST WANSCHURA
  </p>
</div>
<!--end 2021-->

<div class="w-full">
  <div class="flex flex-col w-full">
    <img src="./src/assets/GK_2020_Katalog1@768w.jpg" data-parallax="0" class="w-3/4 shadow-md z-0">

    <p class="text-right" data-parallax="0.1">
      KATALOG 2020
    </p>

    <img src="./src/assets/GK_2020_Katalog4s@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-10">
  </div>

  <div class="flex flex-col w-full">
    <p class="text-right z-10" data-parallax="0.6">
      WORK No.33
    </p>
  </div>

  <div data-parallax="0.1" class="w-full">
    <img src="./src/assets/GK_2020_Katalog7@768w.jpg" class="w-3/5 self-center shadow-md z-0">
  </div>

  <div class="flex flex-col w-full" data-parallax="0.1">
    <img src="./src/assets/GK_2020_Katalog9@768w.jpg" data-parallax="-0.08" class="w-2/3 self-center shadow-xl z-10">

    <p class="text-center small z-10">
      67 HALSREIF, PLATIN 950, EISEN, BERYLL 395,5 CT
    </p>
  </div>


  <div data-parallax="0.05" class="w-full">
    <img src="./src/assets/GK_2020_DS6@768w.jpg" class="w-full shadow-md z-0">

    <p class="text-center small z-10">
      13 FACETTIERTE BERGKRISTALLKETTE MIT CITRINEN, KREUZ, RAUCHQUARZ
    </p>
  </div>

  <div class="flex flex-col w-full">
    <p class="text-center small w-1/3 self-end z-10" data-parallax="0.6">
      85 HALSREIF, 925 SILBER,
      LEDER, MAMMUTZAHN,
      MALACHIT, ROHSTÜCK
    </p>
    <img src="./src/assets/GK_2020_Katalog13@768w.jpg" data-parallax="0.8" class="w-1/3 self-end shadow-md z-0">

  </div>

  <div data-parallax="0.10" class="w-2/3 shadow-xl z-0">
    <img src="./src/assets/GK_2020_Katalog15@768w.jpg">

    <p class="text-center small z-10" data-parallax="0.05">
      94 PERLKETTE, CHINA TIEFSEEKORALLEN
    </p>
  </div>

  <!--???-->
  <div class="flex flex-col w-full" data-parallax="0.1">

    <img src="./src/assets/GK_2020_Katalog16@768w.jpg" data-parallax="0.5" class="w-1/3 shadow-md z-0">

    <div data-parallax="0.8" class="w-3/5 self-end shadow-xl z-10">
      <img src="./src/assets/GK_2020_Katalog17@768w.jpg">

      <p class="text-right small w-full z-10" data-parallax="0.05">
        26 OHRSCHMUCK, 950 PLATIN, AMAZ0NIT, TURMALINE
      </p>
    </div>

    <img src="./src/assets/GK_2020_Katalog18@768w.jpg" data-parallax="0.05" class="w-2/5 shadow-md z-10">

    <p class="text-left small w-full z-10" data-parallax="0.02">
      17 ANHÄNGER, 750 GOLD, AST, KORALLE<br>
      * ANHÄNGER, 750 GOLD, BLUME, KORALLEN, SMARAGD
    </p>

    <img src="./src/assets/GK_2020_Katalog19@768w.jpg" data-parallax="0.6" class="w-2/5 self-end shadow-md z-10">

    <img src="./src/assets/GK_2020_DS11@768w.jpg" data-parallax="0.5" class="w-4/5 self-end shadow-md z-0">

    <div class="flex flex-col w-full" data-parallax="0.35">
      <img src="./src/assets/GK_2020_DS12@768w.jpg" data-parallax="0.10" class="w-full shadow-xl z-10">

      <p class="text-left small w-full z-10" data-parallax="0.02">
        34 COLLIER, PLATIN 950, 3 PERLEN SÜDSEE, GELB UND WEISS TAHITI GRAU SPINELL, SAPHIR, ZIRKON
      </p>

    </div>
    <div class="flex flex-col w-full z-10" data-parallax="0.35">
      <img src="./src/assets/GK_2020_Katalog25@768w.jpg" data-parallax="0.4" class="w-3/5 self-center shadow-xl">

      <p class="text-center small w-full" data-parallax="0.4">
        39 COLLIER, 750 GOLD, HERZEN, KORALLE
      </p>
    </div>

    <!-- 
      flex      Kinderelemente positionieren
      flex-col  Kinderelemente in einer Spalte (von oben nach unten)
      flex-row  Kinderelemente in einer Reihe (von links nach rechts)

      self-end  Element ans Ende setzen

      w-full    Volle Breite
      w-x/y     Breite x/y
     -->

    <div class="flex flex-col w-full z-10" data-parallax="0.4">
      <img src="./src/assets/GK_2020_Katalog27@768w.jpg" data-parallax="0.1" class="w-4/5 shadow-md">

      <p class="text-center small w-full">
        30 HALSSCHMUCK, PLATIN 950, KORALLEN, CITRIN, AMETHYST
      </p>
    </div>

    <div class="flex flex-col w-2/5 self-end" data-parallax="0.4">
      <img src="./src/assets/GK_2020_Katalog29@768w.jpg" data-parallax="0.1" class="shadow-xl z-10">
      <p class="text-left small z-10">
        43 HALSKETTE, PLATIN 950, 19 TURMALINE
      </p>
    </div>

    <div class="flex flex-col w-full z-10" data-parallax="0.4">
      <img src="./src/assets/GK_2020_Katalog30@768w.jpg" data-parallax="0.3" class="w-2/5 self-end shadow-md">

      <p class="text-right small w-full z-10">
        47 ANHÄNGER, 950 PLATIN, PERIDOT, FEUEROPAL, MORGANIT
      </p>
    </div>

    <img src="./src/assets/GK_2020_Katalog31@768w.jpg" data-parallax="0.4" class="w-2/5 shadow-xl z-10">

    <div class="flex flex-col w-full z-10" data-parallax="-0.02">
      <img src="./src/assets/GK_2020_Katalog32@768w.jpg" data-parallax="0.2" class="w-4/5 shadow-md">

      <p class="text-center small w-full">
        51 HALSREIF, 750 GOLD, EISEN, BLUME, MAMMUT
      </p>
    </div>

    <div class="flex flex-col w-full z-10" data-parallax="0.6">
      <img src="./src/assets/GK_2020_Katalog34@768w.jpg" data-parallax="0.3" class="w-2/5 self-center shadow-xl">

      <p class="text-center small w-full" data-parallax="0.05">
        60 HALSSCHMUCK, 750 GOLD, 925 SILBER TIFFANY, TELLER ZERBROCHEN, 3 TURMALINE
      </p>
      <img src="./src/assets/GK_2020_Katalog35@768w.jpg" class="w-4/5 self-end shadow-md">

    </div>

    <img src="./src/assets/GK_2020_Katalog37s@768w.jpg" data-parallax="1.4" class="w-1/5 shadow-md z-10">

    <div class="flex flex-col w-full z-10" data-parallax="0.6">
      <img src="./src/assets/GK_2020_Katalog40@768w.jpg" data-parallax="-0.1" class="w-4/5 self-end shadow-xl z-10">

      <p class="text-center small w-full z-10" data-parallax="0.1">
        113 HALSREIF, 750 GOLD, EISEN BLUME, MAMMUT
      </p>
    </div>

    <div class="flex flex-col w-full z-10" data-parallax="0.3">

      <p class="text-center text-red z-10" data-parallax="0.9">
        0%
      </p>
      <img src="./src/assets/GK_2020_Katalog44@768w.jpg" class="w-3/5 self-end shadow-xl z-0">
    </div>

  </div>

  <div class="flex flex-col w-full" data-parallax="0.28">

    <p class="text-center z-10" data-parallax="0.2">
      KATALOG 2019/20
    </p>

    <img src="./src/assets/Fotos_GK88@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK89@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0">


  </div>

  <div class="flex flex-col w-full" data-parallax="0.28">
    <p class="text-left z-10" data-parallax="0.6">
      „MANCHMAL HABE ICH
      ANGST VOR DEM
      GEFÜHL DES GELINGENS,
      DENN DIE GEWISSHEIT
      DES GELINGENS IST OFT
      DAS ENDE DES ZWEIFELNS!“
    </p>

    <img src="./src/assets/Fotos_GK90@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK91@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">

    <div class="flex flex-col w-full" data-parallax="0.2">
      <img src="./src/assets/Fotos_GK92@768w.jpg" data-parallax="0.1" class="w-3/5 shadow-md z-0">

      <p class="text-center small text-red z-10">
        SMARAGDTROPFEN 9,20CT AN HANDGEARBEITETER KETTE
      </p>
    </div>
  </div>

  <div class="flex flex-col w-full" data-parallax="0.28">
    <p class="text-right" data-parallax="0.6">
      :)
    </p>
    <img src="./src/assets/Fotos_GK93@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0">

    <div data-parallax="0.4" class="w-2/3 ">
      <img src="./src/assets/Fotos_GK94@768w.jpg" class="w-full shadow-md z-0">

      <p class="text-center small w-full">
        AQUAMARIN MIT ROHKRISTALLFLÄCHE 653CT PLATIN
      </p>
    </div>

    <img src="./src/assets/Fotos_GK95@768w.jpg" data-parallax="-0.05" class="w-2/5 self-center shadow-xl z-0">

    <div data-parallax="0.1" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK96@768w.jpg" class="w-full shadow-md z-0">

      <p class="text-center small w-full">
        RING TEUFELCHEN KORALLE GOLD
      </p>
    </div>

    <img src="./src/assets/Fotos_GK97@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">

    <div data-parallax="0.1" class="w-1/3 self-end">
      <img src="./src/assets/Fotos_GK98@768w.jpg" class="w-full shadow-md z-0">

    </div>

    <img src="./src/assets/Fotos_GK99@768w.jpg" data-parallax="-0.02" class="w-2/5 self-center shadow-xl z-0">

    <div data-parallax="0.2" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK100@768w.jpg" class="w-full shadow-md z-0">

      <p class="text-center small w-full">
        LANGE TAHITIPERLKETTE MIT KORALLEN UND PLATIN
      </p>

    </div>

    <img src="./src/assets/Fotos_GK101@768w.jpg" data-parallax="0.05" class="w-3/5 self-center shadow-xl z-0">

    <div data-parallax="0.1" class="w-1/3 ">
      <img src="./src/assets/Fotos_GK102@768w.jpg" class="w-full shadow-md z-0">

      <p class="text-center small w-full">
        AMETHYSTRING IN PLATIN GEFASST RING GOLDBERYLL UND TURMALIN
      </p>

    </div>

    <img src="./src/assets/Fotos_GK103@768w.jpg" data-parallax="0.15" class="w-2/5 shadow-md z-0 self-end">


    <div data-parallax="-0.03" class="w-2/5">
      <img src="./src/assets/Fotos_GK104@768w.jpg" class="w-full shadow-md">

      <p class="text-center small w-full">
        ACHAT SCHRIFT IN GOLD<br>
        (nach Jonathan Meese)
      </p>

    </div>

    <div class="flex flex-row md:justify-end" data-parallax="0.6">
      <a data-modal-target="opening" data-modal-wrapper=".opening" class="my-10 md:my-5">Öffnungszeiten</a>
    </div>

    <div data-parallax="0.22" class="w-3/4 ">
      <img src="./src/assets/Fotos_GK105@768w.jpg" class="w-full shadow-md z-0">

      <p class="text-center small w-full">
        TAHITIPERLEN IN PLATINKETTE
      </p>

    </div>

    <img src="./src/assets/Fotos_GK108@768w.jpg" data-parallax="0.18" class="w-1/5 self-end shadow-xl z-0">

  </div>

  <div class="flex flex-col w-full" data-parallax="0.32">

    <p>CHOICE OF VARIOUS JEWELLERY</p>

    <img src="./src/assets/Fotos_GK1@768w.jpg" data-parallax="0.14" class="w-2/5 self-end shadow-xl z-0">

    <img src="./src/assets/Fotos_GK4@768w.jpg" data-parallax="0.2" class="w-4/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK5@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK6@768w.jpg" data-parallax="0.1" class="w-2/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK7@768w.jpg" data-parallax="0.1" class="w-1/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK14@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md self-end z-10">

    <img src="./src/assets/Fotos_GK15@768w.jpg" data-parallax="0.12" class="w-4/5 shadow-md self-center z-10">

    <img src="./src/assets/Fotos_GK17@768w.jpg" data-parallax="0.25" class="w-1/4 shadow-md z-10">

    <img src="./src/assets/Fotos_GK18@768w.jpg" data-parallax="0.15" class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK20@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md z-10">

    <img src="./src/assets/Fotos_GK61@768w.jpg" data-parallax="-0.5" class="w-3/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK23@768w.jpg" data-parallax="0.20" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK28@768w.jpg" data-parallax="0.38" class="w-3/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK29@768w.jpg" data-parallax="0.35" class="w-3/5 shadow-md z-0 self-center">

    <img src="./src/assets/Fotos_GK31@768w.jpg" data-parallax="0.14" class="w-2/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK10@768w.jpg" data-parallax="0.12" class="w-2/3 shadow-md z-0">

    <p class="w-full text-center" data-parallax="0.28">
      #FF
    </p>

    <img src="./src/assets/Fotos_GK39@768w.jpg" data-parallax="0.48" class="w-4/5 shadow-md z-0">

    <img src="./src/assets/Fotos_GK40@768w.jpg" data-parallax="0.0" class="w-3/5 self-center shadow-md z-0">

    <img src="./src/assets/Fotos_GK41@768w.jpg" data-parallax="0.3" class="w-3/5 shadow-md z-0">

    <img src="./src/assets/Fotos_GK64@768w.jpg" data-parallax="-0.10" class="w-3/4 self-end shadow-xl z-0">

    <p class="w-full text-center" data-parallax="0.36">
      <img src="./src/assets/kreuz.svg" data-parallax="-0.1" class="w-1/6 z-10">
      WHITE SPACE
    </p>


    <img src="./src/assets/Fotos_GK65@768w.jpg" data-parallax="0.12" class="w-3/5 self-end shadow-xl z-0">

    <img src="./src/assets/Fotos_GK56@768w.jpg" data-parallax="0.38" class="w-3/5 shadow-md z-10 self-end">

    <img src="./src/assets/Fotos_GK63@768w.jpg" data-parallax="-0.05" class="w-2/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK44@768w.jpg" data-parallax="0.18" class="w-3/5 self-center shadow-md z-10">

    <img src="./src/assets/Fotos_GK66@768w.jpg" data-parallax="-0.05" class="w-3/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK70@768w.jpg" data-parallax="0.13" class="w-3/5 self-center shadow-md">

    <img src="./src/assets/Fotos_GK76@768w.jpg" data-parallax="0.12" class="w-4/5 shadow-md self-end">

    <img src="./src/assets/Fotos_GK82@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0 self-end">

  </div>

  <div class="flex flex-col w-full" data-parallax="0.36">
    <p class="text-red">
      ...MORE STUFF
    </p>

    <img src="./src/assets/Fotos_GK42@768w.jpg" data-parallax="0.1" class="w-3/5 self-end shadow-md z-0">
    <img src="./src/assets/Fotos_GK75@768w.jpg" data-parallax="0.3" class="w-2/3 self-center shadow-md z-10">
    <img src="./src/assets/Fotos_GK73@768w.jpg" data-parallax="0.1" class="w-2/5 shadow-md z-10 self-end">
    <img src="./src/assets/Fotos_GK72@768w.jpg" data-parallax="0.2" class="w-2/5 shadow-md z-10">
    <img src="./src/assets/Fotos_GK43@768w.jpg" data-parallax="0.3" class="w-1/3 shadow-md z-0 self-end">

  </div>

  <div class="flex flex-col w-full" data-parallax="0.38">

    <p class="text-right" data-parallax="0.1">
      “DIE NATUR VERWÖHNT MICH MIT VIELFÄLTIGSTEN
      MATERIALIEN... SO FANTASIEVOLL UND JEDES MAL
      WIEDER NEU. AUGENBLICKE FÜR HERRLICHE IDEEN
      IN MEINEM KOPF, DAS IST EIN WUNDERBARER ZUSTAND!”
    </p>

    <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full">

      <img src="./src/assets/Fotos_GK60@768w.jpg" data-parallax="0.3" class="w-4/5 md:w-2/5 shadow-md z-10">

      <a data-modal-target="about" data-modal-wrapper=".about" class="my-10 md:my-5">About GK</a>

    </div>

    <div class="flex flex-col-reverse md:flex-row items-start md:justify-between w-full">

      <img src="./src/assets/Fotos_GK49@768w.jpg" data-parallax="0.5" class="w-3/5 shadow-md z-10">

      <a data-modal-target="awards" data-modal-wrapper=".about" class="my-10 md:my-5">Awards</a>

    </div>

  </div>

  <div class="flex flex-col w-full" data-parallax="0.385">

    <p class="text-center text-red z-10" data-parallax="0.35">
      ...PICKED OUT POLAS
    </p>

    <img src="./src/assets/Fotos_GK50@768w.jpg" data-parallax="0.1" class="w-1/3 self-end shadow-md z-0">

    <img src="./src/assets/Fotos_GK51@768w.jpg" data-parallax="-0.05" class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK52@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK55@768w.jpg" data-parallax="-0.02" class="w-2/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK59@768w.jpg" data-parallax="0.2" class="w-1/3 shadow-md z-0 self-end">

    <img src="./src/assets/Fotos_GK68@768w.jpg" data-parallax="0.05" class="w-3/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK69@768w.jpg" data-parallax="0.1" class="w-1/3 shadow-md z-0">

    <img src="./src/assets/Fotos_GK67@768w.jpg" data-parallax="0.1" class="w-2/5 self-center shadow-xl z-0">

    <img src="./src/assets/Fotos_GK107@768w.jpg" data-parallax="0.14" class="w-1/5 shadow-md z-10">

    <img src="./src/assets/Fotos_GK26@768w.jpg" data-parallax="0.20" class="w-3/5 shadow-xl z-0 self-end">

    <div class="flex flex-col-reverse md:flex-row justify-between self-center" data-parallax="0.156">
      <a href="mailto:info@schmuckkrauss.de" class="my-10 md:my-5">info@schmuckkrauss.de</a>
    </div>
  </div>
</div>