<head>
  <title>GünterKrauss.Schmuck.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="günter krauss, stuttgart, schmuck, goldschmied, juwelier">
  <meta name="author" content="Günter Krauss">
  <meta name="description" content="DIE NATUR VERWÖHNT MICH MIT VIELFÄLTIGSTEN MATERIALIEN... SO FANTASIEVOLL UND JEDES MAL WIEDER NEU. AUGENBLICKE FÜR HERRLICHE IDEEN IN MEINEM KOPF, DAS IST EIN WUNDERBARER ZUSTAND!">
  <meta name="publisher" content="Günter Krauss">
  <meta name="copyright" content="Günter Krauss">
  <meta name="owner" content="Günter Krauss">
  <meta property="og:title" content="GünterKrauss.Schmuck.">
  <meta property="og:description" content="DIE NATUR VERWÖHNT MICH MIT VIELFÄLTIGSTEN MATERIALIEN... SO FANTASIEVOLL UND JEDES MAL WIEDER NEU. AUGENBLICKE FÜR HERRLICHE IDEEN IN MEINEM KOPF, DAS IST EIN WUNDERBARER ZUSTAND!">
  <meta property="og:image" content="./src/assets/Fotos_GK92@768w.jpg">
  <meta property="og:url" content="https://www.guenterkrauss.de">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="geo.region" content="DE-BW" />
  <meta name="geo.placename" content="Stuttgart" />
  <meta name="geo.position" content="48.774929;9.174185" />
  <meta name="ICBM" content="48.774929, 9.174185" />
  <noscript>This website works best with JavaScript enabled.</noscript>
  <link rel="shortcut icon" type="image/x-icon" href="./src/assets/favicon.ico">
  <link rel="shortcut icon" href="./src/assets/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="./src/assets/favicon.ico" type="image/x-icon" />
  <link rel="icon" type="image/png" href="./src/assets/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="./src/assets/favicon-16x16.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./src/assets/favicon-96x96.png" sizes="96x96">
  <link rel="apple-touch-icon" sizes="57x57" href="./src/assets/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="./src/assets/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./src/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./src/assets/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./src/assets/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./src/assets/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./src/assets/apple-touch-icon-144x144.png">
</head>