<div data-modal id="awards">
  <div class="container mx-auto">
    <button data-modal-close><img src="./src/assets/close-icon.png"></button>

    <h1>AWARDS</h1>
    <p>
      GÜNTERKRAUSS.SCHMUCK.<br>
      SCHMUCKDESIGNER UND GOLDSCHMIED <br>
      MITGLIED DER <br>
      DIAMONDS INTERNATIONAL ACADEMY, NEW YORK <br>
      <br>
      AUSZEICHNUNGEN FÜR <br>
      SCHMUCKENTWÜRFE UND <br>
      GOLDSCHMIEDEARBEITEN: <br>
      <br>
      1.PREIS DER STADT GENF[2X] <br>
      BENVENUTO-CELLINI-MEDAILLE IN GOLD <br>
      DIAMOND INTERNATIONAL AWARD[3X] <br>
      GOLDENE MUSCHEL <br>
      JUWEL DES JAHRES, GOLDENE LUPE[3X] <br>
      1.PREIS PLATIN ALS SCHMUCKMETALL <br>
      DIAMANTEN HEUTE[3X] <br>
      AUSZEICHNUNGEN BEI <br>
      INTERNATIONALEN WETTBEWERBEN <br>
      AUFNAHME IN DIE DIAMONDS <br>
      INTERNATIONAL ACADEMY <br>
      AUSSTELLUNGEN IM IN- UND AUSLAND <br>
      JURYMITGLIED BEI INTERNATIONALEN <br>
      SCHMUCKWETTBEWERBEN <br>
      ANKAUF VON GOLDSCHMIEDE-ARBEITEN, <br>
      KUNSTGEWERBE-MUSEUM TRONDHEIM, <br>
      NORWEGEN <br>
      SÜDAFRIKANISCHE GOLDMINEN-UNION <br>
      DE BEERS, <br>
      JEWELLERY COLLECTION, LONDON <br>
      SCHMUCKMUSEUM PFORZHEIM
    </p>
  </div>
</div>