<div data-modal id="info">

    <button data-modal-close><img src="./src/assets/close-icon.png"></button>

    <div class="container mx-auto">
      <h1>MUTTERTAG</h1>
      <h1>14. Mai 2023 · 11-17 Uhr</h1>
      <p class="text-left small z-0"> (Bitte melden Sie sich vorher an, damit wir planen können!)
      </p>
      <H1>0711 - 297395</H1>
    
      <div class="flex flex-row w-full">
      <img src="./src/assets/GK-Muttertag-Karte.png" class="w-2/4">
      <img src="./src/assets/GK-Muttertag-Karte2.png" class="w-2/4">
      </div>    
      
    </div>
  </div>
  
