<div data-modal id="info">
  <div class="container mx-auto">
    <button data-modal-close><img src="./src/assets/close-icon.png"></button>

    <h1 id="GK ERZÄHLUNGEN">GK <wbr/>ERZÄHLUNGEN</h1>

    <h2 id="01">01</h2>
    <p>
      Zwei Flächen, zwei Edelsteine: Nachtblau und Himmelblau. Die Flächen ergänzen sich, überschneiden sich, schaffen eine Harmonie in Blau. Daneben ein großer, 
      reiner Turmalin aus Brasilien. Er öffnet eine neue Dimension, erzeugt Tiefe 
      und bildet ein Gegengewicht in Grün.<br>
      <b>1 Lapislazuli 35,7 gr, 1 Dumortierit 33,9 gr, 1 Turmalin facettiert 12,12 ct., 750 Roségold</b>
    </p>

    <h2 id="02">02</h2>
    <p>
      Ein reiner Beryll von ursprünglich vier Kilogramm, unbeschädigt und ohne 
      Einschlüsse, gefunden in einer Mine in Wolodarsk, die nun keine Edelsteine mehr fördert. Die großen, bewegten Strukturen des Beryll gegenüber den feinen, 
      geometrisch geschliffenen Brillanten stehen im Gleichgewicht.
      Zugleich ein Wunder der Natur: Pyramiden und Vertiefungen haben sich vor 
      Urzeiten in diesem Kristall gebildet und sind durch das Schleifen an die 
      Oberfläche befördert worden. Diese schneiden sich, überlagern sich mit dem Funkeln der Brillanten oder stehen für sich als komplexe, geometrische Formen.
      Meiner Ansicht nach ein einmaliger Höhepunkt. An Material und Bearbeitung, an Zusammenspiel aus Goldschmiede- und die Edelsteinschleifkunst und an Glück, einen solch außergewöhnlichen Beryll gefunden zu haben.<br>
      <b>1 Beryll mit Rohkristallfläche 440,25 ct., 222 Brillanten, grün behandelt 14,14 ct, 750 Roségold</b>
    </p>

    <h2 id="03">03</h2>
    <p>
      De Beers richtete 1992 einen europaweiten Wettbewerb aus, an dem 17 Gestalter aus 15 Ländern eingeladen wurden, um Schmuckstücke anzufertigen und diese auf eine Ausstellungstournee zu senden. Von mir wurden zwei Stücke ausgewählt. 
      Eines hiervon war der Sonnenring: Die einmalige Zusammenstellung naturfarbiger Diamanten zeigt einen sanften Verlauf von hellem Gelb über kräftiges Orange bis hin zu tiefem Braun. Der Ring kann nur auf dem kleinen Finger getragen werden, sodass die Sonne vollständig sichtbar auf der Hand steht und der Körper der Sonne in die Handfläche übergeht.<br>
      <b>65 Brillanten, top wesselton, lupenrein 2,21 ct, 78 Brillanten naturfarben gelb, orange und braun 12,48 ct, 750 Roségold<br><br>
      Bild: De Beers<br></b>
      Zu diesem Ring gab es noch ein passendes Collier: Aufgehender und abnehmender Mond. Ganz in Platin gefertigt, ziseliert, und verbunden über Sterne, ihrerseits mit Brillanten besetzt. Das ganze Stück war in das Licht der funkelnden Sterne getaucht. Ein Highlight.
    </p>

    <h2 id="04">04</h2>
    <p>
      Oft führten mich Reisen nach Sri Lanka, wo ich herrliche Saphire, Mondsteine und Rubine gefunden habe. So gelangte ich auch an diesen Sternsaphir, den ich umringt von 12 bunten Saphiren im Rosenschliff präsentieren wollte. Der Sternsaphir selbst ist dabei mehr als ein statisches Element in der Gestaltung: Je nach Lichteinfall 
      bewegt sich ein sechstrahliger Stern über die Oberfläche und verleiht dem Stein eine unglaubliche Tiefe.<br>
      <b>1 Sternsaphir 28,90 ct, 12 Saphire bunt 11,97 ct, 750 Roségold</b>
    </p>

    <h2 id="05">05</h2>
    <p>
      Farbtöne sprechen für sich. Besonders faszinieren mich zwei- und dreifarbige 
      Turmaline, die neue Welten an Farbtönen erschließen können. In diesem Fall 
      erstreckt sich der Farbverlauf von rosa nach weiß, wobei der Turmalin selbst von Saphiren eingerahmt wird, die zwischen lila und pink changieren und damit die Farbtöne des Turmalins intensivieren. Ein Farbwunder, welches man über der Hand schweben lassen kann.<br>
      <b>1 Turmalin Farbverlauf 8,35 ct, 44 Saphire 0.52 ct, 950 Platin</b>
    </p>

    <h2 id="06">06</h2>
    <p>
      Farbflächen, Linien - Geometrie und gewachsene Formen: Der rötlich-bräunliche Achat steht im Mittelpunkt und zeichnet die Grundstruktur. Rote Spinelle an seiner Seite rahmen die Collage ein, machen diese Brosche zu einer dynamischen 
      farblichen Harmonie.<br>
      <b>1 Achat 50,58 gr, 45 rote Spinelle 4,36 ct, 750 Roségold</b>
    </p>

    <h2 id="07">07</h2>
    <p>
      In diesem Stück wollte ich die farbliche Vielfalt der Achate aufzeigen: 
      Aus Mexiko und Brasilien stammen die Edelsteine für diesen Halsschmuck aus halbierten Achatdrusen. Orange und Pink stehen Blau und Grau gegenüber, bilden einen Kontrast und führen über Sepia und Ocker hin zu Bronze und Gold. 
      Farbvariationen der Natur in einem Collier vereint.<br>
      <b>9 Achate 327,72 gr, 750 Roségold, Bronze</b>
    </p>

    <h2 id="08">08</h2>
    <p>
      Schaffensprozess und Wachstumsprozess. Bei diesem Armband sehen wir die 
      Entstehung der Achatzeichnung, wie die Farben in Tropfen nach unten laufen, 
      wie Linien das Ganze zusammenhalten. Das Schleifen der Achate war eine große Herausforderung, da der Eindruck entstehen sollte, dass das Armband aus einem Stück sei. So laufen beim Schließen des Armbandes die Zeichnungen des Achates perfekt ineinander.  Das silberfarbene Platin und die weißlich-grauen Achate 
      verbinden sich farblich miteinander.<br>
      <b>7 Achate 81,11 gr, 1 Rubin 0,14 ct, 950 Platin</b>
    </p>

    <h2 id="09">09</h2>
    <p>
      Linien, die verbinden - Linien, die leiten. Dieses Achatarmband sollte besonders die Wachstumslinien des Steines betonen, sodass sie am Ende des Bandes wieder exakt aufeinander laufen. Auch hier bestimmt die Natur die Form. Eine geometrische Harmonie.<br>
      <b>8 Achate  63,67 gr, 750 Roségold
      <br><br>
      Bild: Achatdrusen in ihrer Urform<br></b>
      Für mich ist dies ein typisches Bild für Achate eines Rohsteinhändlers in 
      Idar-Oberstein. Aus Rohsteindrusen suchen wir in der Werkstatt die schönsten Achate aus: Aus den rostigen Blechtonnen entstiegen, dürfen die Steine zu unseren 
      unverwechselbaren Schmuckstücken werden.
    </p>

    <h2 id="10">10</h2>
    <p>
      51 Kugeln mit einem Durchmesser von 11,0 bis 17,5 Millimeter fügen sich zu 
      dieser Kette zusammen. Die Koralle selbst ist von allerbester Qualität. 
      Moro ist die seltenste Korallenart der Welt mit einer tiefen, intensiven und fast von innen heraus leuchtenden Rottönung. Ein schlichtes Schmuckstück, in seiner 
      Materialität jedoch einzigartig.<br>
      <b>Moro Korall Kugelkette 51 Kugeln, 50,2 gr, 11,0 – 17,5 mm</b>
      <br><br>
      <b>Bild: GK mit Koralle</b><br>
      Es war mir eine Ehre, mit diesem wundervollen Korallast arbeiten zu können: Ein derart großer Fund ist einzigartig. Seine Farbe in all den Variationen spricht 
      für sich. Armreif Nr. 18 habe ich aus diesem Stück gefertigt.
    </p>

    <h2 id="11">11</h2>
    <p>
      Schlichtheit, ein Farbton, ein Tropfen. Das filigrane Braun des Diamant Navette von 10,10ct steht im schönen Gegensatz zu dem starken Farbton der großen ovalen Moro-Koralle.<br>
      <b>1 Diamant Navette 10,10 ct fancy gelb/braun naturfarben, vsi1, 1 Moro Koralle 72,25 ct, 
      750 Roségold</b>
    </p>

    <h2 id="12">12</h2>
    <p>
      Hier wollte ich die gegenseitige Beeinflussung von Gestaltung und gewachsenen Formen betonen: In diesem Blattcollier sind 9 Aquamarine in grünlich-blauer Farbe und makelloser Reinheit verarbeitet. Die dazwischen liegenden Blattformen in Platin sind von den Steinformen selbst inspiriert, von diesen übernommen und aus diesen umgesetzt. Das Collier ist in sich vollkommen beweglich, sodass es sich an den Hals der Trägerin oder des Trägers sanft anschmiegt.<br>
      <b>9 Aquamarine 697,66 ct, 950 Platin</b>      
    </p>

    <h2 id="13">13</h2>
    <p>
      Schmuck als Objekt, als Skulptur mit architektonischen Gestaltungsprinzipien: 
      Wie ein Gebäude wollte ich einen Edelstein fassen und präsentieren, er sollte frei stehen, exponiert und von allen Seiten sichtbar sein. So entstand dieser Roségoldring mit einem Brillanten von 2,50ct, der in einer Stotzenfassung gehalten wird.<br>
      <b>1 Brillant 2,50 ct, light yellow (M), very very small inclusions, 
      750 Roségold</b>
    </p>

    <h2 id="14">14</h2>
    <p>
      Lichtspiel und Geometrie: 146 Brillanten top wesselton, lupenrein, sind in 
      diesem Ring gefasst. Die Steine sind exakt in der Kreuzform gefasst, so dass sie mit der Ringform harmonieren. Auf der Oberfläche entsteht bei Bewegung ein 
      wunderbares Lichtspiel.<br>
      <b>146 Brillanten top wesselton, lupenrein 2,53 ct, 750 Roségold</b>
    </p>

    <h2 id="15">15</h2>
    <p>
      Es hat sich bereits als Tradition eingestellt, dass ich einmal im Jahr mit meinem Freund und Elfenbeinschnitzer Matthias Streckfuss ein Stück nach Lukas Cranach konzipiere und fertige. Daraus entstand das Bild „Judith mit dem Kopf von 
      Holofernes“, wobei Judith der Legende folgend Holofernes’ Kopf auf einem Tablett trägt. So konnten wir es natürlich nicht ganz übernehmen. Deshalb haben wir uns entschlossen, einen Schweinskopf aus pinkem Opal mit einem Apfel aus Koralle in der Schnauze auf den goldenen Teller zu legen.
      Das Beachtliche an diesem Stück sind die Halsketten und die Haarpracht der Judith. An diesen Details im Relief kann man die einzigartige Handwerkskunst und 
      Fantasie des Elfenbeinschnitzers erkennen. Der Anhänger ist ganz aus 
      Mammutelfenbein gearbeitet. Für mich sind diese Stücke immer eine große Freude und Inspiration.<br>
     <b>Mammut Elfenbein 109.75 gr, Schweinskopf pink Opal 15,45 ct, 
      Koralle, 750 Roségold</b>
    </p>

    <h2 id="16">16</h2>
    <p>
      Ein Lieblingsstück von mir. Immer wieder hört man, was auf Flugplätzen in die Triebwerke der Flugzeuge gerät. So ist es leider auch diesem Storch im Elsaß passiert. Nach dem Kontakt mit dem Flugzeug ist er auf relativ brutale Weise in Einzelteile zerlegt worden. Für mich war es wichtig, dass diese makabre Szenerie auf ästhetische Weise und der Vogel in seiner ganzen Schönheit dargestellt werden sollte.  Im Schnabel wurden über 2ct Brillanten verarbeitet und die Bestandteile des Vogels sind an einer seltenen schwarzen Koralle aufgehängt.<br>
      <b>Mammut Elfenbein, 74 Brillanten 1,24 ct top wesselton, lupenrein,
      80 Brillanten 0,86 ct light brown, schwarze Koralle, 950 Platin</b>
    </p>

    <h2 id="17">17</h2>
    <p>
      Manchmal kann die Form schlicht sein. Und manchmal Positives ausdrücken, 
      eine Aussage treffen, interpretierbar sein. Ein großer Pfeil aus Koralle, die 
      Oberfläche leicht modelliert. Er weist nach vorne.<br>
      <b>Koralle 636,75 ct, 950 Platin</b>
      
    </p>

    <h2 id="18">18</h2>
    <p>
      Ein Reif aus dem großen Korallast. Ein farbiges Wunder aus einem natürlichen Material. Die Koralle ist makellos und das Stück konnte ohne Ansatz aus einem Teil gefertigt werden. Eingerahmt ist der Armreif mit Platin und 60 Brillanten. 
      <br>
      Die Herstellung war jedoch eine Herkulesaufgabe. Um diesen Armreif zu fertigen musste zuerst eine große Bohrung mit einem Spezialwerkzeug eingebracht werden, wofür zwei Personen den Korallast fest hielten, um ihn bei der Bohrung zu fixieren. Alles ging gut und entstanden ist ein Meisterwerk, auf das ich sehr stolz bin.<br>
      <b>Koralle 577,3 gr, 60 Brillanten top wesselton, lupenrein, 2.59 ct, 950 Platin</b>
    </p>

    <h2 id="19">19+20</h2>
    <p>
      Inspiration und Kollaboration: In Zusammenarbeit mit meinem langjährigen Freund und Künstler aus dem Elsaß Raymond E. Waydelich entstanden viele 
      ausgefallene Schmuckstücke. Diese zwei frühen Stücke aus gemeinsamer 
      Konzeption sind nach einem Besuch auf Kreta entstanden: Eine Amphore mit Flammen und eine Calzedon-Schale mit Fischen als Opfergabe. Schmuckstücke und zugleich Erinnerung an einen besonderen Ort und eine besondere Zeit. 
      Mystische Dokumente.<br>
      <b>Brosche Kreta Knossos, 2 Korallen, 750 Roségold, 950 Platin
      Brosche Fischopfer Kreta, Calzedon Schale, 950 Platin, 1000 Feingold</b>
    </p>
    
    <h2 id="20">21-24</h2> 
    <p>
      Besondere Speisen betrachte ich gerne als Kunstwerk. Speisewerkzeuge sind hier das Kunstwerk: Die Klingen der drei Messer von 30-40cm aus wunderschönem Damaszenerstahl passen sich dem Schiff, Fisch oder dem Ochsen an.
      Der Stahl der Klingen selbst ist so gearbeitet, dass er wellenförmig das Schiff trägt, dem Fisch seine gemusterte Haut verleiht oder aber der Maserung von Fleisch gleicht. Die Materialien der Griffe entstammen passend zu den Werkzeugen auch dem Wasser oder dem Land. Auch diese Stücke sind aus der Zusammenarbeit mit R.E Waydelich entstanden. <br>
      <b>Schiffmesser, Damaszenerstahl, Pottwalzahn, 750 Roségold, 925 Silber
      Fischmesser, Damaszenerstahl, fossiler Walrosspenisknochen, 750 Roségold, 925 Silber 
      Fleischmesser, Damaszenerstahl, Hirschhorn, 750 Roségold, 925 Silber</b>
      <br>
      Material und Nutzung. Diese Gabel habe ich in Flammenform mit zwei Mondsteinen so konzipiert, dass ein Gesicht mit flammendem Haar die köstliche Speisen halten kann. Der Griff besteht aus einem fossilen Walrosspenisknochen, der nur selten in diesem tiefen Farbton zu finden ist.<br>
      <b>Fossiler Walrosspenisknochen, 2 Mondsteine 12,56 ct, 925 Silber</b>
    </p>

    <h2 id="25">25</h2>
    <p>
      Objekte und ihre Geschichte beginnen nicht erst mit der Erschaffung des 
      Schmuckstückes: Aus einer alten Wagendeichsel wurde dieser Armreif 
      geschmiedet. Was hat dieses Stück Eisen wohl schon alles gesehen und von A nach B bewegt. Fasziniert hat mich hier das feinere, bewegliche Schiffchen welches im Gegensatz zu der derben Fertigung der Deichsel steht. Mit Brillanten besetzt bildet es ein bewegliches Element innerhalb des Armreifs.<br>
      <b>Eisen, 63 Brillanten 0,90 ct, top wesselton, lupenrein</b>
    </p>

    <h2 id="26">26</h2>
    <p>
      Mystik und Monster. Ein Untier: Minotaurus, der aus einem großen Aquamarin und einer Koralle besteht. Dieser Anhänger ist aus einem über vier Kilogramm schweren Rohstein eines Aquamarins mit stark zerklüfteter Oberfläche entstanden. Die Außenstruktur wurde belassen und in das Schmuckstück integriert: 
      Minotaurus war schließlich auch kein zartes Wesen.<br>
      <b>Aquamarin 363,24 ct, Koralle braun 421,7 gr. , 750 Roségold, 925 Silber</b>
    </p>

    <h2 id="27">27</h2>
    <p>
      Aus demselben Rohstein entstand dieses Collier. Hier kann man deutlich neben der schönen Farbe des Aquamarins auch die Linien des Kristalls sehen - Linien, die durch das ganze Stück laufen. Diese Linienführung wollte ich hervorheben und so markieren die Brillant-Elemente die Naturgegebenheiten der Aquamarine.<br>
      <b>9 Aquamarinnavette 711,75 ct, 82 Brillanten 3,09 ct top wesselton, lupenrein 750 Roségold</b>
    </p>

    <h2 id="28">28</h2>
    <p>
      Mein Freund: Der grüne Hubert, der sich auf seine Amazonitscholle 
      zurückgezogen hat. Grimmig schaut er drein, oder nur versonnen, den Blick auf die goldene Kugel gerichtet. Bewacht er diese, oder meditiert er nur?  Sind seine Augen gerötet vom langen Starren, oder hat er einfach nur schlecht geschlafen auf dem harten Amazonit? Ein Objekt. Viele Interpretationen. Doch wozu eine Erklärung? Lassen wir Hubert sich auf seine kleine Scholle zurückziehen und bewundern die filigrane Arbeit.<br>
      <b>Mammutelfenbein bemalt 309 gr, Amazonit 1800 gr, 1000 Feingold</b>
    </p>

    <h2 id="29">29+30</h2>
    <p>
      Mit Tomi Ungerer habe ich über viele Jahre hinweg Schmuckstücke gefertigt. 
      Er hat mir immer wieder seine Zeichnungen aus Irland geschickt.
      Wie passgenau und phänomenal die Skizzen durchdacht waren hat mich jedes Mal begeistert. Seine Fantasie und sein Humor waren grenzenlos. Wir haben nach 
      diesen Zeichnungen Schmuckstücke geschaffen, die in Farbe und Form ewig Bestand haben. Natürlich sind auch diese Stücke Unikate.
      <br>
      <b>29: Chrysopras 33,69 gr, Koralle 4,72 gr, Aquamarin 4,70 ct, 2Smaragde 0.13 ct, 
      750 Roségold, 950 Platin 
      30: brauner Jaspis 15,45 gr, 2Brillanten 0,16 ct fancy yellow naturfarben,
      750 Roségold</b>
    </p>

    <h2 id="31">31</h2>
    <p>
      Immer wieder beschäftige ich mich mit den Formen aus der Natur, die mir viel 
      bedeuten und mir große Freude bereiten. Eine meiner Lieblingsblumen beispielsweise ist die Akelei, so habe ich versucht, sie in Schmuck umzusetzen. So natürlich wie möglich. Also habe ich Abdrücke von einer Blume genommen und diese in Einzelteilen zusammengesetzt. Der Anhänger selbst wurde in Silber gearbeitet und mit einem Goldrahmen versehen. So konnte ich ein Stück Natur konservieren 
      und etwas gestalterische Konzeption aus der Natur übernehmen.<br>
      <b>750 Roségold, 925 Silber</b>
    </p>

    <h2 id="32">32</h2>
    <p>
      Archaische Urzeiten. Oxidiertes Metall. Der Stoßzahn eines Mammut durchdringt ein Kupferschild. Birst durch das Metall. Es ist rau. Wild. Und doch in einer farblichen Harmonie zueinander: Formal ungezähmt und farblich eine perfekte Einheit. Die große Kupferschale mit einem Durchmesser von 67 cm, wurde aus einer flachen Ronde mit Hilfe eines hölzernen Werkzeugs tief gedrückt. Die Schale wird durchdrungen von einem Mammutzahn, der knapp neun Kilogramm schwer und etwa einen Meter lang ist. Ein Relikt aus vergangenen Zeiten? Ein rituelles Objekt?<br>
      <b>Kupfer, Mammutelfenbein 8,90 kg</b>
    </p>
    <br>
    <p class="text-center">* * * * *</p>
    <p>
    <b>Wenn Ihnen meine Erzählungen gefallen haben<br>
    und Sie weitere Details interessieren,<br>
    freue ich mich von Ihnen zu hören.<br><br>
    Günter Krauss</b>
  </p>
    
  </div>
</div>
  
