<div data-modal id="opening">

  <button data-modal-close><img src="./src/assets/close-icon.png"></button>

  <div class="container mx-auto">
    <h1>ÖFFNUNGSZEITEN</h1>
    <p>
      <p class="mt-10">+ MONTAGS GESCHLOSSEN +</p>
          <p class="mt-5">DIENSTAG BIS FREITAG 11.00 BIS 18.OO UHR</p>
          <p class="mt-5">SAMSTAG 11.00 BIS 16.OO UHR</p>
          <p class="mt-5">UND NACH VEREINBARUNG</p>
          <p class="mt-5">T +49 (0) 711 297 395</p>
          <br>
          <a href="mailto:info@schmuckkrauss.de">E-Mail: info@schmuckkrauss.de</a>
    </p>
  </div>
</div>

